extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#badge
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_BADGE_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Badge
                            span.ga-badge.float 0
                        .ga-button
                            | Badge 1
                            span.ga-badge.float.primary 1
                        .ga-button
                            | Badge 10
                            span.ga-badge.float.secondary 10
                        .ga-button
                            | Badge New
                            span.ga-badge.float.red N
                        .ga-button
                            | Badge Update
                            span.ga-badge.float.green
                                i.xi-arrow-up
                        .ga-button
                            | Badge In
                            span.ga-badge.mark.primary
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.base}
            .section-contents
                h4.contents-title Type
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Float
                            span.ga-badge.float.secondary 10
                        .ga-button
                            | Mark
                            span.ga-badge.mark.green
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.type}
            .section-contents
                h4.contents-title Text
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | First
                            span.ga-badge.float.secondary F
                        .ga-button
                            | NEW
                            span.ga-badge.float.red New
                        .ga-button
                            | UPDATE
                            span.ga-badge.float.green Update
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.text}
            .section-contents
                h4.contents-title Shadow
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Shadow
                            span.ga-badge.float.secondary.shadow
                                i.xi-radiobox-blank
                        .ga-button
                            | Shadow
                            span.ga-badge.float.secondary
                                i.xi-close
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.shadow}
            .section-contents
                h4.contents-title Align
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Left
                            span.ga-badge.float.secondary.shadow.align-left 30000
                        .ga-button
                            | Center
                            span.ga-badge.float.secondary.shadow.align-center 30000
                        .ga-button
                            | Right
                            span.ga-badge.float.secondary.shadow.align-right 30000
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.align}
            .section-contents
                h4.contents-title Colors
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Red
                            span.ga-badge.red 1
                        .ga-button
                            | Orange
                            span.ga-badge.orange 2
                        .ga-button
                            | Yellow
                            span.ga-badge.yellow 3
                        .ga-button
                            | Light Green
                            span.ga-badge.lightgreen 4
                        .ga-button
                            | Green
                            span.ga-badge.green 5
                        .ga-button
                            | Light Blue
                            span.ga-badge.lightblue 6
                        .ga-button
                            | Blue
                            span.ga-badge.blue 7
                        .ga-button
                            | Deep Blue
                            span.ga-badge.deepblue 8
                        .ga-button
                            | Deep Purple
                            span.ga-badge.deeppurple 9
                        .ga-button
                            | Purple
                            span.ga-badge.purple 10
                        .ga-button
                            | Brown
                            span.ga-badge.brown 11
                        .ga-button
                            | Gray
                            span.ga-badge.gray 12
                    .footer
                            pre
                                code.language-markup 
                                    | #{codes.colors}