extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#badge
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_BADGE_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Badge
                            span.ga-badge.float 0
                        .ga-button
                            | Badge 1
                            span.ga-badge.float.primary 1
                        .ga-button
                            | Badge 10
                            span.ga-badge.float.secondary 10
                        .ga-button
                            | Badge New
                            span.ga-badge.float.red N
                        .ga-button
                            | Badge Update
                            span.ga-badge.float.green
                                i.xi-arrow-up
                        .ga-button
                            | Badge In
                            span.ga-badge.mark.primary
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.base}
            .section-contents
                h4.contents-title Type
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Float
                            span.ga-badge.float.secondary 10
                        .ga-button
                            | Mark
                            span.ga-badge.mark.green
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.type}
            .section-contents
                h4.contents-title Text
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | First
                            span.ga-badge.float.secondary F
                        .ga-button
                            | NEW
                            span.ga-badge.float.red New
                        .ga-button
                            | UPDATE
                            span.ga-badge.float.green Update
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.text}
            .section-contents
                h4.contents-title Shadow
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Shadow
                            span.ga-badge.float.secondary.shadow
                                i.xi-radiobox-blank
                        .ga-button
                            | Shadow
                            span.ga-badge.float.secondary
                                i.xi-close
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.shadow}
            .section-contents
                h4.contents-title Align
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button
                            | Left
                            span.ga-badge.float.secondary.shadow.align-left 30000
                        .ga-button
                            | Center
                            span.ga-badge.float.secondary.shadow.align-center 30000
                        .ga-button
                            | Right
                            span.ga-badge.float.secondary.shadow.align-right 30000
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.align}
            .section-contents
                h4.contents-title Colors
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        -
                            var colors = [
                                {name: 'red', text: '빨강'},
                                {name: 'orange', text: '주황'},
                                {name: 'yellow', text: '노랑'},
                                {name: 'lightgreen', text: '연두'},
                                {name: 'green', text: '초록'},
                                {name: 'lightblue', text: '하늘'},
                                {name: 'blue', text: '파랑'},
                                {name: 'deepblue', text: '짙은파랑'},
                                {name: 'deeppurple', text: '짙은보라'},
                                {name: 'purple', text: '보라'},
                                {name: 'brown', text: '팥색'},
                                {name: 'gray', text: '회색'}];
                        each color in colors 
                            .ga-button
                                | #{color.name}
                                span.ga-badge.icon(class=`${color.name}`)
                                    i.xi-tint
                    .footer
                            pre.code-wrapper
                                code.language-markup 
                                    | #{codes.colors}