extends ../layout

block title
    title #{title} | Frog UI CSS


block contents
    .page-wrapper
        section#button.d-mode-border-color
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_BUTTON_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-button Base
                    .footer
                        pre.code-wrapper
                            code.language-markup #{codes.base}
            .section-contents
                h4.contents-title Element Type
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button Tag
                        .ga-button Class name
                    .footer
                        pre.code-wrapper
                            code.language-markup
                                | #{codes.type}
            .section-contents
                h4.contents-title Brand
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.primary Primary
                        button.ga-button.primary.outline Primary Outline
                        button.ga-button.primary.active Primary Active
                    .contents-wrapper
                        button.ga-button.secondary Secondary
                        button.ga-button.secondary.outline Secondary Outline
                        button.ga-button.secondary.active Secondary Active
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.brand}
            .section-contents
                h4.contents-title Status
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.success Success
                        button.ga-button.info Info
                        button.ga-button.danger Danger
                        button.ga-button.attention Attention
                        button.ga-button.importance Importance
                    .contents-wrapper
                        button.ga-button.success.outline Success
                        button.ga-button.info.outline Info
                        button.ga-button.danger.outline Danger
                        button.ga-button.attention.outline Attention
                        button.ga-button.importance.outline Importance
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.status}
            .section-contents
                h4.contents-title Colors
                .ga-segment.float.round-m.attached
                    -
                        var colors = [
                            {name: 'red', text: '빨강'},
                            {name: 'orange', text: '주황'},
                            {name: 'yellow', text: '노랑'},
                            {name: 'lightgreen', text: '연두'},
                            {name: 'green', text: '초록'},
                            {name: 'lightblue', text: '하늘'},
                            {name: 'blue', text: '파랑'},
                            {name: 'deepblue', text: '짙은파랑'},
                            {name: 'deeppurple', text: '짙은보라'},
                            {name: 'purple', text: '보라'},
                            {name: 'brown', text: '팥색'},
                            {name: 'gray', text: '회색'}];
                    .contents-wrapper
                        each color in colors
                            button(class=`ga-button ${color.name}`)=color.name
                    .contents-wrapper
                        each color in colors
                            button(class=`ga-button ${color.name}-light`)=color.name
                    .contents-wrapper
                        each color in colors
                            button(class=`ga-button ${color.name} outline`)=color.name
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.colors}
            .section-contents
                h4.contents-title Disabled
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.disabled Disabled
                        button.ga-button(disabled) Disabled(attr)
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.disabled}
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.border Border
                        button.ga-button.primary.border Border(Primary)
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.border}
            .section-contents
                h4.contents-title Fluid
                .ga-segment.float.round-m.attached
                    .contents-item
                        button.ga-button.fluid.primary Fluid
                    .contents-item
                        button.ga-button.fluid Fluid
                    .contents-item
                        button.ga-button.fluid.outline Fluid
                    .contents-item
                        button.ga-button.fluid.round Fluid
                    .contents-item
                        button.ga-button.fluid.round
                            .icon.left.xi-arrows-h
                            | Fluid
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.fluid}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.compact.primary Compact
                        button.ga-button.compact Compact
                        button.ga-button.compact.round Compact
                        button.ga-button.compact.outline Compact
                        button.ga-button.compact
                            i.icon.left.xi-code
                            | CODE
                        button.ga-button.compact.icon
                            i.xi-crown
                    .contents-wrapper
                        button.ga-button.success.compact Success
                        button.ga-button.info.compact Info
                        button.ga-button.danger.compact Danger
                        button.ga-button.attention.compact Attention
                        button.ga-button.importance.compact Importance
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.compact}
            .section-contents
                h4.contents-title Outline
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.outline Outline
                        button.ga-button.outline.primary Outline
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.outline}
            .section-contents
                h4.contents-title Icon (* required - Xeicon 2.3.3)
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.icon
                            i.xi-laptop
                        button.ga-button.icon.outline
                            i.xi-plug
                        button.ga-button.icon.round
                            i.xi-flight-on
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.icon}
            .section-contents
                h4.contents-title Round
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.icon.round
                            i.xi-desktop
                        button.ga-button.round Round
                        button.ga-button.round A
                        button.ga-button.round.outline B
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.round}
            .section-contents
                h4.contents-title Icon
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button
                            i.icon.left.xi-angle-left
                            | Left
                        button.ga-button
                            | Right
                            i.icon.right.xi-angle-right
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.withIcon}
            .section-contents
                h4.contents-title With Badge
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        button.ga-button.badge
                            | Best
                            .in-badge.primary Best
                        button.ga-button.badge.fluid
                            | Sale
                            .in-badge.secondary Sale
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.bedge}
            .section-contents
                h4.contents-title Text
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-4.span-xs-6
                                button.ga-button.text Text
                            .column.span-4.span-xs-6
                                button.ga-button.text.primary Text
                            .column.span-4.span-xs-6
                                button.ga-button.text
                                    i.icon.left.xi-text-size
                                    | Text
                            .column.span-4.span-xs-6
                                button.ga-button.text.green.no-hover
                                    | Text(no-hover)
                                    i.icon.right.xi-angle-right
                            .column.span-4.span-xs-6
                                button.ga-button.text.icon
                                    i.xi-lock
                            .column.span-4.span-xs-6
                                button.ga-button.text.badge
                                    | Update
                                    .in-badge.ga-red  123
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.text}
            .section-contents
                h4.contents-title Buttons
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-buttons
                            button.ga-button.selected Play
                            button.ga-button Stop
                            button.ga-button Pause
                    .contents-wrapper
                        .ga-buttons.round
                            button.ga-button.icon
                                i.xi-play
                            button.ga-button.icon
                                i.xi-stop
                            button.ga-button.icon
                                i.xi-pause
                            button.ga-button.icon
                                i.xi-rotate-right
                            button.ga-button.icon
                                i.xi-power-off
                    .contents-wrapper
                        .ga-buttons.outline
                            button.ga-button TOP
                            button.ga-button CENTER
                            button.ga-button BOTTOM
                    .contents-wrapper
                        .ga-buttons
                            button.ga-button.outline.mini.primary
                                i.icon.left.xi-play
                                | Play
                            button.ga-button.outline.mini.primary
                                i.icon.left.xi-stop
                                | Stop
                            button.ga-button.outline.mini.primary
                                i.icon.left.xi-pause
                                | Pause
                    .footer
                            pre.code-wrapper
                                code.language-markup
                                    | #{codes.buttons}
block module 
    script(src="/js/button.js")
    script(src="/js/slider.js")
    script. 
       ( function () {
            const buttons = document.querySelectorAll('.ga-buttons');

            buttons.forEach(elem => {
                new Buttons(elem).init()
            })
        })()