extends ../layout

block title
    title #{title} | Frog UI CSS


block contents
    .page-wrapper
        section#button.d-mode-border-color
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_BUTTON_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button Base
                    .footer
                        - var code = '<button class="ga-button">Base</button>';
                            pre
                                code.language-markup #{code}
            .section-contents
                h4.contents-title Element Type
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        button.ga-button Tags
                        .ga-button Class
                    .footer
                        - var code1 = '<button class="ga-button">Tags</button>';
                        - var code2 = '<div class="ga-button">Class</div>';
                        pre
                            code.language-markup
                                | #{code1}
                                | #{code2}
            .section-contents
                h4.contents-title Brand Color
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        button.ga-button.primary Primary
                        button.ga-button.secondary Secondary
                        button.ga-button.success Success
                        button.ga-button.info Info
                        button.ga-button.danger Danger
                        button.ga-button.attention Attention
                        button.ga-button.importance Importance
                    .contents-wrapper
                        button.ga-button.primary.outline Primary
                        button.ga-button.secondary.outline Secondary
                        button.ga-button.success.outline Success
                        button.ga-button.info.outline Info
                        button.ga-button.danger.outline Danger
                        button.ga-button.attention.outline Attention
                        button.ga-button.importance.outline Importance
                    .contents-wrapper
                        button.ga-button.primary.active 메Primary인
                        button.ga-button.secondary.active Secondary
                    .footer
                        - var code = '<button class="ga-button { BRAND | STATUS }">Color</button>';
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Colors
                .ga-segment.float.round-xl.attached
                    - var colors1 = [{name: 'red', text: '빨강'},{name: 'orange', text: '주황'},{name: 'yellow', text: '노랑'},{name: 'lightgreen', text: '연두'},{name: 'green', text: '초록'},{name: 'lightblue', text: '하늘'},{name: 'blue', text: '파랑'}];
                    - var colors2 = [{name: 'deepblue', text: '짙은파랑'},{name: 'deeppurple', text: '짙은보라'},{name: 'purple', text: '보라'},{name: 'brown', text: '팥색'},{name: 'gray', text: '회색'}];
                        .contents-wrapper
                            each color in colors1
                                button(class=`ga-button ${color.name}`)=color.name
                        .contents-wrapper
                            each color in colors2
                                button(class=`ga-button ${color.name}`)=color.name
                        .contents-wrapper
                            each color in colors1
                                button(class=`ga-button ${color.name} outline`)=color.name
                        .contents-wrapper
                            each color in colors2
                                button(class=`ga-button ${color.name} outline`)=color.name
                    .footer
                        - var code = '<button class="ga-button { COLORS }">Color</button>';
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Disabled
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.disabled Disabled
                        .ga-button(disabled) Disabled(attr)
                    .footer
                        - var code = '<button class="ga-button disabled">Disabled(class)</button>';
                        - var code1 = '<button class="ga-button" disabled>Disabled(attr)</button>';
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.border Border
                        .ga-button.primary.border Border(Primary)
                    .footer
                        - var code = '<button class="ga-button border">Disabled(class)</button>';
                        - var code1 = '<button class="ga-button" border>Disabled(attr)</button>';
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
            //- .section-contents
                h4.contents-title Equal
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .contents-item
                            .ga-button.equal.primary 저장
                            .ga-button.equal.secondary 취소
                            .ga-button.equal.outline 보기
                            .ga-button.equal Frog UI System
                        .contents-item
                            .ga-button.equal.large.primary 저장
                            .ga-button.equal.large.secondary 취소
                            .ga-button.equal.large.outline 보기
                            .ga-button.equal.large FROG UI System
                    .footer
                        - var code = '<button class="ga-button equal">Equal</button>';
                        - var code1 = '<button class="ga-button equal large" disabled>Equal L</button>';
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
            .section-contents
                h4.contents-title Fluid
                .ga-segment.float.round-xl.attached
                    .contents-item
                        .ga-button.fluid.primary Fluid
                    .contents-item
                        .ga-button.fluid Fluid
                    .contents-item
                        .ga-button.fluid.outline Fluid
                    .contents-item
                        .ga-button.fluid.circle Fluid
                    .footer
                        - var code = '<button class="ga-button fluid">Fluid</button>';
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.compact.primary Compact
                        .ga-button.compact Compact
                        .ga-button.compact.circle Compact
                        .ga-button.compact.outline Compact
                        .ga-button.compact
                            i.icon.left.xi-code
                            | CODE
                        .ga-button.compact.icon
                            i.xi-crown
                    .contents-wrapper
                        button.ga-button.success.compact Success
                        button.ga-button.info.compact Info
                        button.ga-button.danger.compact Danger
                        button.ga-button.attention.compact Attention
                        button.ga-button.importance.compact Importance
                    .footer
                        - var code = '<button class="ga-button compact">Compact</button>';
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Outline
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.outline Outline
                    .footer
                        - var code = '<button class="ga-button outline">Outline</button>';
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Icon (* required - Xeicon 2.3.3)
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.icon
                            i.xi-laptop
                        .ga-button.icon.outline
                            i.xi-plug
                        .ga-button.icon.circle
                            i.xi-flight-on
                    .footer
                        - var code = '<button class="ga-button icon">\n    <i class="fa fa-icon"></i>\n</button>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Circle
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.icon.circle
                            i.xi-desktop
                        .ga-button.circle Circle
                        .ga-button.circle A
                        .ga-button.circle.outline B
                    .footer
                        - var code = '<button class="ga-button circle">Circle</button>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Icon
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button
                            i.icon.left.xi-angle-left
                            | Left
                        .ga-button
                            | Right
                            i.icon.right.xi-angle-right
                    .footer
                        - var code = '<button class="ga-button">\n    <i class="icon left fa fa-icon"></i>\n    Left\n</button>'
                        - var code1 = '<button class="ga-button">\n    Right\n    <i class="icon right fa fa-icon"></i>\n</button>'
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
            .section-contents
                h4.contents-title With Badge
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-button.badge
                            | Best
                            .in-badge.primary Best
                        .ga-button.badge.fluid
                            | Sale
                            .in-badge.secondary Sale
                    .footer
                        - var code = '<button class="ga-button badge">\n    <sapn class="in-badge">B</span>\n    Contents\n</button>'
                        - var code0 = '<!-- Can`t use attribute fluid with badge type -->'
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code0}
            .section-contents
                h4.contents-title Text
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-4.span-xs-6
                                .ga-button.text Text
                            .column.span-4.span-xs-6
                                .ga-button.text.primary Text
                            .column.span-4.span-xs-6
                                .ga-button.text
                                    i.icon.left.xi-text-size
                                    | Text
                            .column.span-4.span-xs-6
                                .ga-button.text.green
                                    | Text
                                    i.icon.right.xi-angle-right
                            .column.span-4.span-xs-6
                                .ga-button.text.badge
                                    | Update
                                    .in-badge.ga-red  123
                    .footer
                        - var code = '<button class="ga-button text">\n    Contents\n</button>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Buttons
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-buttons
                            .ga-button.selected Play
                            .ga-button Stop
                            .ga-button Pause
                            //- .ga-button 재시작
                            //- .ga-button 종료
                    .contents-wrapper
                        .ga-buttons
                            .ga-button.icon
                                i.xi-play
                            .ga-button.icon
                                i.xi-stop
                            .ga-button.icon
                                i.xi-pause
                            .ga-button.icon
                                i.xi-rotate-right
                            .ga-button.icon
                                i.xi-power-off
                    .contents-wrapper
                        .ga-buttons.outline
                            .ga-button UP
                            .ga-button CENTER
                            .ga-button BOTTOM
                    .contents-wrapper
                        .ga-button-groups
                            .ga-button.outline.mini.primary
                                i.icon.left.xi-play
                                | Play
                            .ga-button.outline.mini.primary
                                i.icon.left.xi-stop
                                | Stop
                            .ga-button.outline.mini.primary
                                i.icon.left.xi-pause
                                | Pause
                            //- .ga-button.outline.mini.primary
                            //-     i.icon.left.fal.fa-arrow-rotate-right
                            //-     | 재시작
                            //- .ga-button.outline.mini.primary
                            //-     i.icon.left.fal.fa-power-off
                            //-     | 종료
                    .footer
                        - var code = '<div class="ga-buttons">\n    <div class="ga-button selected">BTN 1</div>\n    <div class="ga-button">BTN 2</div>\n    <div class="ga-button">BTN 3</div>\n    <div class="ga-button">BTN 4</div>\n    ...\n </div>'
                            pre
                                code.language-markup
                                    | #{code}
block module 
    script(src="/js/button.js")
    script. 
        useSelectButton()