extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
  .page-wrapper
    section#calendar
      .section-title
        h1= title
        .section-desc 
          p !{cont("ELEMENTS_CALENDAR_SUB_TITLE")}
      .section-contents
        h4 Base
        .ga-segment.float.round-m.attached
          .contents-wrapper.flex-wrap
            .ga-calendar
              .calendar-header 
                .current-date  
                  span.year
                  span.month 
                .controller 
                  button.prev-month.ga-button.icon.text.small
                    i.xi-angle-left
                  button.next-month.ga-button.icon.text.small
                    i.xi-angle-right
              .week-wrapper
                - var weeks = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                  each week in weeks
                    .cell.week-cell(data-name=`${week}`)
              .cell-wrapper
          .footer
            .code-wrapper
              pre 
                code.language-markup= codes.base            
block module 
    script(src="/js/calendar.js")
    script. 
        ( function () {
            const calendars = document.querySelectorAll('.ga-calendar');
            calendars.forEach(elem => { 
              const calendar = new Calendar(elem);
              calendar.init();
              // 필요할 때 해당 인스턴스 선택값 조회
              const selected = calendar.getSelectedDate();
              elem.addEventListener('calendar:change', (e) => {
                console.log(e.detail.selectedDate);
              });
            })
        })()
