extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        - var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
        section#cards
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_CARDS_SUB_TITLE")}
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents= content         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.base
            .section-contents
                h4.contents-title Title
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents 
                                .title.large Title
                                = content 
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.title
            .section-contents
                h4.contents-title Image
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.media
                            .image.gray-bg-50
                                img(src="/img/tommy_profile.svg", alt="profile")
                            .contents 
                                .title.large Title
                                = content
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.image
            .section-contents
                h4.contents-title Extra
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.extra
                            .contents
                                .title.large Title
                                = content
                            .extra 
                                | Extra
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.extra
            .section-contents
                h4.contents-title Attached (header, footer)
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.attached 
                            .header Header 영역
                            .contents 
                                .title.large Title
                                = content
                            .footer Footer 영역
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.attached
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents= content         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.border
            .section-contents
                h4.contents-title Float
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.float
                            .contents= content         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.float
            .section-contents
                h4.contents-title Round
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-cards.column-4.column-xs-1.column-sm-2
                            .ga-card.border.round-s
                                .contents
                                    .title.h5 round s
                                    = content         
                            .ga-card.border.round-m
                                .contents
                                    .title.h5 round m
                                    = content          
                            .ga-card.border.round-l
                                .contents
                                    .title.h5 round l
                                    = content        
                            .ga-card.border.round-xl
                                .contents
                                    .title.h5 round xl
                                    = content          
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.round
            .section-contents
                h4.contents-title Cards
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-cards.column-4.column-md-4.column-sm-2.column-xs-1.round-s
                            .ga-card.border
                                .contents
                                    .title.huge Card 1
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 2
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 3
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 4
                                    = content         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.cards