extends ../layout

block title
    title #{title} Page

block contents
    .page-wrapper
        section#tabs
            .section-title
                h1= title
                .section-desc 
                    p Content containers for grouping text, images, and actions.
            .section-contents
                h4.contents-title 기본
                .ga-card.attached
                    .contents-wrapper.contents
                        .ga-card
                            .contents
                                | Contents 영역         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card\">\n       <!-- insert contents -->\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Title
                .ga-card.attached
                    .contents-wrapper.contents
                        .ga-card 
                            .title Title
                            .contents Contents 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card\">\n       <div class=\"title\">Title</div>\n       <!-- insert contents -->\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Attached (header, footer)
                .ga-card.attached
                    .contents-wrapper.contents
                        .ga-card.attached 
                            .header 
                                .title Header 영역
                            .contents Contents 영역
                            .footer Footer 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card\"></div>\n    <div class=\"header\">Header contents</div>\n    <!-- contents -->\n    <div class=\"footer\">Footer contents</div>\n</div>\n`
                            pre
                                code.language-markup= code