extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        - var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
        section#cards
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_CARDS_SUB_TITLE")}
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents= content         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Title
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents 
                                .title.huge Title
                                = content 
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n     <div class=\"contents\">\n         <div class=\"title\">Title</div>\n        <!-- insert contents -->\n    </div>\n</div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Image
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.media
                            .image.gray-bg-50
                                img(src="/img/tommy_profile.svg", alt="profile")
                            .contents 
                                .title.huge Title
                                = content
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border image\">\n       <div class=\"image\"><img src="..." alt="..." /></div>\n       <div class=\"title\">Title</div>\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Extra
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.extra
                            .contents
                                .title.huge Title
                                = content
                            .extra 
                                | Extra
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border extra\">\n       <div class=\"title\">Title</div>\n       <div class=\"contents\"><!-- insert contents --></div>\n       <div class=\"extra\">Extra</div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Attached (header, footer)
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border.attached 
                            .header Header 영역
                            .contents 
                                .title.huge Title
                                = content
                            .footer Footer 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border attached\"></div>\n    <div class=\"header\">Header contents</div>\n    <div class=\"contents\"><!-- insert contents --></div>\n    <div class=\"footer\">Footer contents</div>\n</div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents= content         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Float
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-card.float
                            .contents= content         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card float\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Cards
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-cards.column-3
                            .ga-card.border
                                .contents
                                    .title.huge Card 1
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 2
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 3
                                    = content         
                            .ga-card.border
                                .contents
                                    .title.huge Card 4
                                    = content         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-cards \">\n       <!-- cards -->\n  </div>\n`
                            pre
                                code.language-markup= code