extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#cards
            .section-title
                h1= title
                .section-desc 
                    p Content containers for grouping text, images, and actions.
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents
                                | Contents 영역         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Title
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .title Title
                            .contents Contents 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n       <div class=\"title\">Title</div>\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Image
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border.image
                            .image
                                img(src="/img/profile_img.png", alt="profile")
                            .title Title
                            .contents Contents 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border image\">\n       <div class=\"image\"><img src="..." alt="..." /></div>\n       <div class=\"title\">Title</div>\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Extra
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border.extra
                            .title Title
                            .contents Contents 영역
                            .extra 
                                | Extra
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border extra\">\n       <div class=\"title\">Title</div>\n       <div class=\"contents\"><!-- insert contents --></div>\n       <div class=\"extra\">Extra</div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Attached (header, footer)
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border.attached 
                            .header Header 영역
                            .title Header 영역
                            .contents Contents 영역
                            .footer Footer 영역
                    .footer 
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border attached\"></div>\n    <div class=\"header\">Header contents</div>\n    <div class=\"contents\"><!-- insert contents --></div>\n    <div class=\"footer\">Footer contents</div>\n</div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.border
                            .contents
                                | Contents 영역         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card border\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Float
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-card.float
                            .contents
                                | Contents 영역         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-card float\">\n       <div class=\"contents\"><!-- insert contents --></div>\n  </div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Cards
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.contents
                        .ga-cards
                            .ga-card.border
                                .title Card 1
                                .contents
                                    | Contents 영역         
                            .ga-card.border
                                .title Card 2
                                .contents
                                    | Contents 영역         
                            .ga-card.border
                                .title Card 3
                                .contents
                                    | Contents 영역         
                            .ga-card.border
                                .title Card 4
                                .contents
                                    | Contents 영역         
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-cards \">\n       <!-- cards -->\n  </div>\n`
                            pre
                                code.language-markup= code