extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#checkbox
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_CHECKBOX_SUB_TITLE")}
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        label.ga-checkbox
                            input(type="checkbox")
                            | Label
                        label.ga-checkbox
                            input(type="checkbox")
                            | Checked Label
                        label.ga-checkbox.radio
                            input(type="radio" name="radio")
                            | Radio 1
                        label.ga-checkbox.radio.checked
                            input(type="radio",  name="radio", checked )
                            | Radio 2
                    .footer
                        pre
                            code.language-markup
                                | #{codes.base}
            .section-contents
                h4.contents-title No label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        label.ga-checkbox
                            input(type="checkbox")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.label}
            .section-contents
                h4.contents-title Checkbox
                .ga-segment.float.round-m.attached
                    .contents-wrapper.check1
                        label.ga-checkbox
                            input(type="checkbox", name="part")
                            | Front-End
                        label.ga-checkbox
                            input(type="checkbox", name="part")
                            | Back-End
                        label.ga-checkbox
                            input(type="checkbox", name="part")
                            | Design
                    .footer
                        pre
                            code.language-markup
                                | #{codes.checkbox}
            .section-contents
                h4.contents-title Indeterminate
                .ga-segment.float.round-m.attached
                    .contents-wrapper.check1
                        label.ga-checkbox.indeter
                            input(type="checkbox", name="part")
                            | Indeterminate
                    .footer
                        pre
                            code.language-markup
                                | #{codes.indeter}
            .section-contents
                h4.contents-title Radio
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        label.ga-checkbox.radio
                            input(type="radio", name="option")
                            | option 1
                        label.ga-checkbox.radio
                            input(type="radio", name="option")
                            | option 2
                        label.ga-checkbox.radio
                            input(type="radio", name="option")
                            | option 3
                    .footer
                        pre
                            code.language-markup
                                | #{codes.radio}
block module 
    script(src="/js/checkbox.js")