extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#form
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_FORM_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper#code1
                        .ga-form
                            .header
                                .title Form
                                p.desc form is very important element in HTML.
                            .fields
                                //- legend Legend
                                .field 
                                    label(required) Title 1
                                    input(type="text", placeholder="Insert text")
                                    .help-text Help text
                                    //.error-text Error text
                            .fields.grid
                                .field.column.span-8
                                    label Title A
                                    input(type="text", placeholder="Insert text")
                                .field.column.span-4
                                    label Title B
                                    input(type="text", placeholder="Insert text")
                            .divider
                            .fields
                                .field.inline
                                    label Title 1
                                    input(type="text", placeholder="Insert text")
                                    .error-text Error text
                                .field.inline
                                    label Title 2
                                    input(type="text", placeholder="Insert text")
                                    .extra 
                                        .ga-checkbox
                                            input(type="checkbox")
                                            label checkbox

                    .footer
                        pre
                            code.language-markup
                                | #{codes.base}

            .section-contents
                h4.contents-title Form Header
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .header
                                .title Form
                                .desc Form description is important element attrebute. 
                            .field
                                label Title
                                input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.header}      
            .section-contents
                h4.contents-title Filed
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field 
                                label field title
                                input(type="text", placeholder="Insert text", value="Frog")
                                .help-text Help text
                            .divider
                            .field.error
                                label field title
                                input(type="text", placeholder="Insert text", value="Frog")
                                .error-text Error text
                    .footer
                        pre
                            code.language-markup
                                | #{codes.field}
            .section-contents
                h4.contents-title Inline field
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field.inline
                                label Title
                                input(type="text", placeholder="Insert text")
                                .help-text Help text
                    .footer
                        pre
                            code.language-markup
                                | #{codes.inline}
            .section-contents
                h4.contents-title Label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field
                                input(type="text", placeholder="No Label")
                            .field
                                label Title
                                input(type="text", placeholder="Base Label")
                            .fields.grid.right-side
                                .field.column.span-3.span-xs-12
                                    label.title Title 1
                                .field.column
                                    input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.label}
            .section-contents
                h4.contents-title Display required
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form  
                            .field
                                label.required Classname type
                                input(type="text", placeholder="classname required")
                            .field
                                label(required) Attribute type
                                input(type="text", placeholder="attribute required")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.required}
            .section-contents
                h4.contents-title Fields
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .fields
                                legend Field Title
                                .field
                                    label Field 1
                                    input(type="text", placeholder="Insert text")
                                .field
                                    label Field 2
                                    input(type="text", placeholder="Insert text")
                                .field
                                    label Field 3
                                    input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.fields}
                              
            .section-contents
                h4.contents-title Disabled Field
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field.disabled
                                label Field 1
                                input(type="text", placeholder="Insert text")
                            .field.disabled
                                label Field 2
                                input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.disabled}
            .section-contents
                h4.contents-title Fields Divide
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .fields.grid.divide-2
                                legend Divide-2
                                .field.column
                                    label field 1
                                    input(type="text", placeholder="Insert text")
                                .field.column
                                    label field 2
                                    input(type="text", placeholder="Insert text")
                            .divider
                            .fields.grid.divide-4
                                legend Divide-4
                                .field.column
                                    label field 1
                                    input(type="text", placeholder="Insert text")
                                .field.column
                                    label field 2
                                    input(type="text", placeholder="Insert text")
                                .field.column
                                    label field 3
                                    input(type="text", placeholder="Insert text")
                                .field.column
                                    label field 4
                                    input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.divide}
                              
            .section-contents
                h4.contents-title Fields grids
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .fields.grid
                                .field.column.span-3
                                    label span 3
                                    input(type="text", placeholder="Insert text")
                                .field.column.span-5
                                    label span 5
                                    input(type="text", placeholder="Insert text")
                                .field.column.span-4
                                    label span 4
                                    input(type="text", placeholder="Insert text")
                    .footer
                        pre
                            code.language-markup
                                | #{codes.grids}
                               
            .section-contents
                h4.contents-title Text Area
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field
                                label Textarea
                                textarea(placeholder="Insert text")
                            .field.short
                                label Textarea Short
                                textarea(placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.textarea}
            .section-contents
                h4.contents-title Extra
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field
                                label Input field 
                                input(type='text', placeholder='Insert text')
                                .help-text help
                                .extra
                                    .ga-checkbox
                                        input(type="checkbox")
                                        label Display checkbox
                            .field
                    .footer
                        pre
                            code.language-markup
                                | #{codes.extra}
            .section-contents
                h4.contents-title Checkboxes & Radios
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .fields
                                legend Select all transportation you want?
                                .field
                                    .ga-checkbox
                                        input(type="checkbox", name="traffic")
                                        label Bus
                                    .ga-checkbox
                                        input(type="checkbox", name="traffic")
                                        label Taxi
                                    .ga-checkbox
                                        input(type="checkbox", name="traffic")
                                        label Subway
                            .devider
                            .fields.listed
                                legend  What is the right thing to do when an issue?
                                .field.inline
                                    .ga-checkbox.radio
                                        input(type="radio", name="traffic")
                                        label 1. Working overtime
                                    .ga-checkbox.radio
                                        input(type="radio", name="traffic")
                                        label 2. Leaving work.
                                    .ga-checkbox.radio
                                        input(type="radio", name="traffic")
                                        label 3. Do noting.
                    .footer
                        pre
                            code.language-markup
                                | #{codes.radios}
            .section-contents
                h4.contents-title Select Box
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-form
                            .field
                                label Select Item
                                .ga-select-box.fluid
                                    select
                                        each col in ['', 1, 2, 3, 4, 5, 6]
                                            if col == ''
                                                option(default, value=`${col}`)= 'Select'
                                            else
                                                option(value=`${col}`)= `option${col}`
                                    i.arrow.icon.xi-angle-down
                    .footer
                        pre
                            code.language-markup
                                | #{codes.selectbox}
                