extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#input
            .section-title
                h1= title
                .section-desc
                    p !{cont("ELEMENTS_INPUT_SUB_TITLE")}
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input
                            input(type="text", placeholder="Insert text", value="Frog")
                    .footer
                        - var code = '<div class="ga-input">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Disabled
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.disabled
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input disabled">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Read only
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.readonly
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input disabled">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Underline
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.underline
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input underline">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Transparent
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.transparent
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input transparent">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.compact
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input compact">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Edit
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.edit
                            input(type="text", placeholder="Insert text", value="원래 값")
                        .ga-button.icon.round.edit-btn
                            i.xi-pen
                    .footer
                        - var code = '<div class="ga-input edit">\n    <input type="text" placeholder="Insert text" />\n    <button class="ga-button icon edit-btn">\n        <i class="fa fa-pen"></i>\n    </button>\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Status
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-3.span-xs-8
                                .ga-input.success
                                    input(type="text", placeholder="Success")
                            .column.span-3.span-xs-8
                                .ga-input.danger
                                    input(type="text", placeholder="Error")
                            .column.span-3.span-xs-8
                                .ga-input.info
                                    input(type="text", placeholder="Info")
                            .column.span-3.span-xs-8
                                .ga-input.attention
                                    input(type="text", placeholder="Attention")
                            .column.span-3.span-xs-8
                                .ga-input.importance
                                    input(type="text", placeholder="Impotance")
                    .footer
                        - var code = '<div class="ga-input { STATUS }">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Fluid
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.fluid
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input fluid">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Unit
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.unit(data-unit='대')
                            input.align-right(type="text", placeholder="0")
                    .footer
                        - var code = '<div class="ga-input unit" data-unit="{ unit text }">\n    <input type="text" placeholder="Insert text" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Icon
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-3.span-xs-8
                                | Left
                                .ga-input.icon.left
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-search
                            .column.span-3.span-xs-8
                                | Right
                                .ga-input.icon.right.link
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-search.round
                            .column.span-3.span-xs-8
                                | Both
                                .ga-input.icon.both
                                    i.icon.xi-search
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-angle-up
                    .footer
                        - var code = '<div class="ga-input icon left">\n    <input type="text" placeholder="Insert text" />\n    <i class="fa fa-icon"></i>\n</div>'
                        - var code1 = '<div class="ga-input icon right link">\n    <input type="text" placeholder="Insert text" />\n    <i class="fa fa-icon"></i>\n</div>'
                        - var code2 = '<div class="ga-input icon both">\n    <i class="fa fa-icon"></i>\n    <input type="text" placeholder="Insert text" />\n    <i class="fa fa-icon"></i>\n</div>'
                            pre
                                code.language-markup
                                    | #{`<!-- Left -->`}
                                    | #{code}
                                    | #{`<!-- Right + Icon link 연결 -->`} 
                                    | #{code1}
                                    | #{`<!-- Both -->`}
                                    | #{code2}
            .section-contents
                h4.contents-title Badge
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.badge
                            input(type="text", placeholder="Insert text")
                            .ga-badge.secondary 30
                    .footer
                        - var code = '<div class="ga-input badge">\n    <input type="text" placeholder="Insert text" />\n    <span class="ga-badge">B</span>\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
            .section-contents
                h4.contents-title Label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.labeled.right.inline
                            input(type="text", placeholder="Insert text")
                            label 원
                        .ga-input.labeled.right.inline
                            input(type="text", placeholder="Insert text")
                            label.outline 0/30
                        .ga-input.labeled.left.inline
                            label Name
                            input(type="text", placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input labeled left">\n    <input type="text" placeholder="Insert text" />\n    <label>Label Text</label>\n</div>'
                        - var code1 = '<div class="ga-input labeled right">\n    <input type="text" placeholder="Insert text" />\n    <label>Label Text</label>\n</div>'
                            pre
                                code.language-markup
                                    | #{`<!-- Left -->`}
                                    | #{code}
                                    | #{`<!-- Right -->`}
                                    | #{code1}
            .section-contents
                h4.contents-title Button
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.button.left
                            input(type="text", placeholder="Insert text")
                            .ga-button 저장
                        .ga-input.button.right
                            input(type="text", placeholder="Insert text")
                            .ga-button.icon
                                i.xi-documents-o
                    .footer
                        - var code = '<div class="ga-input button left">\n    <input type="text" placeholder="Insert text" />\n    <button class="ga-button">Button Text</button>\n</div>'
                        - var code1 = '<div class="ga-input button right">\n    <input type="text" placeholder="Insert text" />\n    <button class="ga-button">Button Text</button>\n</div>'
                            pre
                                code.language-markup
                                    | #{`<!-- Left -->`}
                                    | #{code}
                                    | #{`<!-- Right -->`}
                                    | #{code1}
            .section-contents
                h4.contents-title Textarea
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.fluid
                            textarea(placeholder="Insert text")
                        .ga-input.short.fluid
                            textarea(placeholder="Insert text")
                    .footer
                        - var code = '<div class="ga-input">\n    <textarea placeholder="Insert text" />\n</div>'
                        - var code1 = '<div class="ga-input short">\n    <textarea placeholder="Insert text`" />\n</div>'
                            pre
                                code.language-markup
                                    | #{code}
                                    | #{code1}
block module 
    script(src="/js/input.js")
    script. 
        useEditInput();