extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#input
            .section-title
                h1= title
                .section-desc
                    p !{cont("ELEMENTS_INPUT_SUB_TITLE")}
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input
                            input(type="text", placeholder="Insert text", value="Frog")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.base}
            .section-contents
                h4.contents-title Label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input
                            input(type="text", placeholder=" ")
                            label Title 1                       
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.label}
            .section-contents
                h4.contents-title Disabled
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.disabled
                            input(type="text", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.disabled}
            .section-contents
                h4.contents-title Read only
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.readonly
                            input(type="text", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.readonly}
            .section-contents
                h4.contents-title Underline
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.underline
                            input(type="text", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.underline}
            .section-contents
                h4.contents-title Transparent
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.transparent
                            input(type="text", name="transparent", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.transparent}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.compact
                            input(type="text", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.compact}
            .section-contents
                h4.contents-title Edit
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.edit
                            input(type="text", placeholder="Insert text", value="원래 값")
                        .ga-button.icon.round.edit-btn
                            i.xi-pen
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.edit}
            .section-contents
                h4.contents-title Status
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-3.span-xs-8
                                .ga-input.success
                                    input(type="text", placeholder="Success")
                            .column.span-3.span-xs-8
                                .ga-input.danger
                                    input(type="text", placeholder="Error")
                            .column.span-3.span-xs-8
                                .ga-input.info
                                    input(type="text", placeholder="Info")
                            .column.span-3.span-xs-8
                                .ga-input.attention
                                    input(type="text", placeholder="Attention")
                            .column.span-3.span-xs-8
                                .ga-input.importance
                                    input(type="text", placeholder="Impotance")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.status}
            .section-contents
                h4.contents-title Fluid
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.fluid
                            input(type="text", placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.fluid}
            .section-contents
                h4.contents-title Unit
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.unit(data-unit='대')
                            input.align-right(type="text", placeholder="0")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.unit}
            .section-contents
                h4.contents-title Icon
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-grid
                            .column.span-3.span-xs-8
                                | Left
                                .ga-input.icon.left
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-search
                            .column.span-3.span-xs-8
                                | Right
                                .ga-input.icon.right.link
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-search.round
                            .column.span-3.span-xs-8
                                | Both
                                .ga-input.icon.both
                                    i.icon.xi-search
                                    input(type="text", placeholder="Insert text")
                                    i.icon.xi-angle-up
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.icon}
            .section-contents
                h4.contents-title Badge
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.badge
                            input(type="text", placeholder="Insert text")
                            .ga-badge.secondary 30
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.bedge}
            .section-contents
                h4.contents-title With Label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.labeled.right.inline
                            input(type="text", placeholder="Insert text")
                            .label 원
                        .ga-input.labeled.right.inline
                            input(type="text", placeholder="Insert text")
                            .label.outline 0/30
                        .ga-input.labeled.left.inline
                            input(type="text", placeholder="Insert text")
                            .label Name
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.labeled}
            .section-contents
                h4.contents-title Button
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.withButton.left
                            input(type="text", placeholder="Insert text")
                            .ga-button 저장
                        .ga-input.withButton.right
                            input(type="text", placeholder="Insert text")
                            .ga-button.icon
                                i.xi-documents-o
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.button}
            .section-contents
                h4.contents-title Textarea
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-input.fluid
                            textarea(placeholder="Insert text")
                            label textare title 
                        .ga-input.short.fluid
                            textarea(placeholder="Insert text")
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.textarea}
block module 
    script(src="/js/input.js")
    script. 
        useEditInput();