extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#list
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_LIST_SUB_TITLE")}  
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item(draggable="true") Option 1
                            .item(draggable="true") Option 2
                            .item(draggable="true") Option 3
                            .item(draggable="true") Option 4
                            .item(draggable="true") Option 5
                            .item(draggable="true") Option 6
                            .item(draggable="true") Option 7
                    .footer
                        pre
                            code.language-markup
                                | #{codes.base}
            .section-contents
                h4.contents-title Link
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item(draggable="true") 
                                a.link Option 1
                            .item(draggable="true") 
                                a.link Option 2
                            .item(draggable="true") 
                                a.link Option 3
                            .item(draggable="true") 
                                a.link Option 4
                            .item(draggable="true") 
                                a.link Option 5
                            .item(draggable="true") 
                                a.link Option 6
                           
                    .footer
                        pre
                            code.language-markup
                                | #{codes.link}
            .section-contents
                h4.contents-title List Style
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.ul
                            li.item Option 1
                            li.item Option 2
                            li.item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.list}
            .section-contents
                h4.contents-title Selected Items
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.selection.bg.mark.text
                            .item.selected Option 1
                            .item Option 2
                            .item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.select}
            .section-contents
                h4.contents-title Sub Title
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-title
                                    | Option 1
                                    .sub-title sub title is under the main Title
                            .item
                                .item-title
                                    | Option 2
                                    .sub-title sub title is under the main Title
                            .item
                                .item-title
                                    | Option 3
                                    .sub-title sub title is under the main Title
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.subTitle}
            .section-contents
                h4.contents-title Icons
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.selection
                            .item
                                i.list-icon.icon.xi-bus
                                .item-title Option 1
                            .item
                                i.list-icon.icon.xi-taxi
                                .item-title Option 2
                            .item
                                i.list-icon.icon.xi-subway
                                .item-title
                                    | Option 3
                                    .sub-title asdf
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.icon}
            .section-contents
                h4.contents-title Buttons
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-title Option 1
                                .btn-set
                                    .ga-button.icon.round.outline.tiny
                                        i.xi-plus
                                    .ga-button.icon.round.outline.tiny
                                        i.xi-minus
                            .item
                                .item-title Option 2
                                .btn-set
                                    .ga-button.icon.text
                                        i.xi-plus
                            .item
                                .item-title Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.button}
            .section-contents
                h4.contents-title Bordered
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.border
                            .item Option 1
                            .item Option 2
                            .item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.border}
            .section-contents
                h4.contents-title Image
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 1
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 2
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.image}
block module 
    script(src="/js/list.js")
