extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#list
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_LIST_SUB_TITLE")}  
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item(draggable="true") Option 1
                            .item(draggable="true") Option 2
                            .item(draggable="true") Option 3
                            .item(draggable="true") Option 4
                            .item(draggable="true") Option 5
                            .item(draggable="true") Option 6
                            .item(draggable="true") Option 7
                    .footer
                        pre
                            code.language-markup
                                | #{codes.code_s_1_1}
                                | #{codes.code_c_1_1_1}
                                | #{codes.code_c_2_1_1}
                                | #{codes.code_e_1_1}
                                | #{codes.code_c_3_1_1}
                                | #{codes.code_f_1_1}
            .section-contents
                h4.contents-title 링크
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item(draggable="true") 
                                a.link Option 1
                            .item(draggable="true") 
                                a.link Option 2
                            .item(draggable="true") 
                                a.link Option 3
                            .item(draggable="true") 
                                a.link Option 4
                            .item(draggable="true") 
                                a.link Option 5
                            .item(draggable="true") 
                                a.link Option 6
                           
                    .footer
                        pre
                            code.language-markup
                                | #{codes.code_s_2_1}
                                | #{codes.code_c_1_2_1}
                                | #{codes.code_c_2_2_1}
                                | #{codes.code_e_2_1}
                                | #{codes.code_c_3_2_1}
                                | #{codes.code_f_2_1}
            .section-contents
                h4.contents-title List Style
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.ul
                            li.item Option 1
                            li.item Option 2
                            li.item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_3_1}
                                    | #{codes.code_c_1_3_1}
                                    | #{codes.code_c_2_3_1}
                                    | #{codes.code_e_3_1}
                                    | #{codes.code_c_3_3_1}
                                    | #{codes.code_f_3_1}
            .section-contents
                h4.contents-title Selected Items
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.selection.bg.mark.text
                            .item.selected Option 1
                            .item Option 2
                            .item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_4_1}
                                    | #{codes.code_c_1_4_1}
                                    | #{codes.code_c_2_4_1}
                                    | #{codes.code_e_4_1}
                                    | #{codes.code_c_3_4_1}
                                    | #{codes.code_f_4_1}
            .section-contents
                h4.contents-title Sub Title
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-title
                                    | Option 1
                                    .sub-title sub title is under the main Title
                            .item
                                .item-title
                                    | Option 2
                                    .sub-title sub title is under the main Title
                            .item
                                .item-title
                                    | Option 3
                                    .sub-title sub title is under the main Title
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_5_1}
                                    | #{codes.code_c_1_5_1}
                                    | #{codes.code_c_2_5_1}
                                    | #{codes.code_e_5_1}
                                    | #{codes.code_c_3_5_1}
                                    | #{codes.code_f_5_1}
            .section-contents
                h4.contents-title Icons
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.selection
                            .item
                                i.list-icon.icon.xi-bus
                                .item-title Option 1
                            .item
                                i.list-icon.icon.xi-taxi
                                .item-title Option 2
                            .item
                                i.list-icon.icon.xi-subway
                                .item-title
                                    | Option 3
                                    .sub-title asdf
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_6_1}
                                    | #{codes.code_c_1_6_1}
                                    | #{codes.code_c_2_6_1}
                                    | #{codes.code_e_6_1}
                                    | #{codes.code_c_3_6_1}
                                    | #{codes.code_f_6_1}
            .section-contents
                h4.contents-title Icons
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-title Option 1
                                .btn-set
                                    .ga-button.icon.round.outline.tiny
                                        i.xi-plus
                                    .ga-button.icon.round.outline.tiny
                                        i.xi-minus
                            .item
                                .item-title Option 2
                                .btn-set
                                    .ga-button.icon.text
                                        i.xi-plus
                            .item
                                .item-title Option 3
            .section-contents
                h4.contents-title Bordered
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list.border
                            .item Option 1
                            .item Option 2
                            .item Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_8_1}
                                    | #{codes.code_c_1_8_1}
                                    | #{codes.code_c_2_8_1}
                                    | #{codes.code_e_8_1}
                                    | #{codes.code_c_3_8_1}
                                    | #{codes.code_f_8_1}
            .section-contents
                h4.contents-title Image
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-list
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 1
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 2
                            .item
                                .item-img
                                    img(src="")
                                .item-title Option 3
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_s_9_1}
                                    | #{codes.code_c_1_9_1}
                                    | #{codes.code_c_2_9_1}
                                    | #{codes.code_e_9_1}
                                    | #{codes.code_c_3_9_1}
                                    | #{codes.code_f_9_1}
block module 
    script(src="/js/list.js")
