extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#alert
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_MESSAGE_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message base message
                        .ga-message 
                            .title Title 
                            .contents title + contents
                        .ga-message.icon 
                            i.icon.xi-check-circle-o
                            .title Title
                            .contents icon + title + contents
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.base}
            .section-contents
                h4.contents-title Inline
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message.icon.inline
                            i.icon.xi-check-circle-o
                            .title Title
                            .contents icon + title + contents
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.inline}
            .section-contents
                h4.contents-title State
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message.icon.success 
                            i.xi-check-circle
                            .title Success
                            .contents Display contents about success status.
                        .ga-message.icon.danger
                            i.xi-error 
                            .title Danger
                            .contents Display contents about danger status.
                        .ga-message.icon.info
                            i.xi-info
                            .title Info
                            .contents Display contents about information status.
                        .ga-message.icon.attention
                            i.xi-warning
                            .title Attention
                            .contents Display contents about attention status.
                        .ga-message.icon.importance
                            i.xi-star
                            .title Importance
                            .contents Display contents about important status.
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.state}
            .section-contents
                h4.contents-title State type
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message.icon.success 
                            i.xi-check-circle
                            .title Status
                            .contents Display contents about success status.
                        .ga-message.icon.success-text
                            i.xi-check-circle
                            .title Status text
                            .contents Display contents about success status.
                        .ga-message.icon.success-bg
                            i.xi-check-circle
                            .title Status background
                            .contents Display contents about success status.
                        .ga-message.icon.success-border
                            i.xi-check-circle
                            .title Status border
                            .contents Display contents about success status.
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.state_type}
            .section-contents
                h4.contents-title Messages
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-messages
                            .ga-message
                                .title Message
                                .contents display contents.
                            .ga-message
                                .title Message
                                .contents display contents.
                            .ga-message
                                .title Message
                                .contents display contents.
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.messages}
            .section-contents
                h4.contents-title Messages
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-messages.list
                            .ga-message
                                .title Message
                                .contents display contents.
                            .ga-message
                                .title Message
                                .contents display contents.
                            .ga-message
                                .title Message
                                .contents display contents.
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.messages_list}