extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#alert
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_MESSAGE_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message contents
                        .ga-message 
                            .msg-title.bold Title
                            .msg-contents contents
                    .footer 
                        - var code = `<div class="ga-message">\n        <!-- contents -->\n  </div>`
                        pre 
                            code.language-markup 
                                | #{code}
            .section-contents
                h4.contents-title State
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-message.success Success
                        .ga-message.danger Danger
                        .ga-message.info Info
                        .ga-message.attention Attention
                        .ga-message.importance Importance
                    .footer 
                        - var code = `<div class="ga-message { status }">\n        <!-- contents -->\n  </div>`
                        pre 
                            code.language-markup 
                                | #{code}