extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#pagination
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_PAGINATION_SUB_TITLE")} 
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination
                            - var items = [2, 3, 4, 5, 6, 7, 8, 9, 10]
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.base}
            .section-contents
                h4.contents-title  Limit displayed Number
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination
                            - var items = [2, 3, 4]
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                .pagination-num.block-preview
                                    i.xi-ellipsis-h
                                each item in items
                                    .pagination-num=`${item}`
                                .pagination-num.block-next
                                    i.xi-ellipsis-h
                                .pagination-num 10
                            .pagination-nav.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.limit}
            .section-contents
                h4.contents-title Button
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination.number.round
                            - var items = [2, 3, 4, 5, 6, 7, 8, 9, 10]
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.round}
            .section-contents
                h4.contents-title User costom Style
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination.number
                            - var items = [2, 3, 4]
                            .pagination-nav.pagination-item.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.pagination-item.active 1
                                .pagination-num.pagination-item.block-preview
                                    i.xi-ellipsis-h
                                each item in items
                                    .pagination-num.pagination-item=`${item}`
                                .pagination-num.pagination-item.block-next
                                    i.xi-ellipsis-h
                                .pagination-num.pagination-item 1000
                            .pagination-nav.pagination-item.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.custom}
            .section-contents
                h4.contents-title Page type
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination.page
                            .pagination-nav.pagination-item.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-info
                                    .pagination-nav 1
                                    span /
                                    .pagination-nav 10
                            .pagination-nav.pagination-item.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.page}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-pagination.compact.number
                            - var items = [2, 3, 4, 5, 6, 7, 8, 9, 10]
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.compact}
            .section-contents
                h4.contents-title Align
                .ga-segment.float.round-m.attached
                    - var items = [2, 3, 4, 5]
                    .contents-wrapper
                        h5 LEFT
                        .ga-pagination.number.align-left
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .contents-wrapper
                        h5 CENTER
                        .ga-pagination.number.align-center
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .contents-wrapper
                        h5 RIGHT
                        .ga-pagination.number.align-right
                            .pagination-nav.prev
                                i.xi-angle-left
                            .pagination-page-wrapper
                                .pagination-num.active 1
                                each item in items
                                    .pagination-num=`${item}`
                            .pagination-nav.next
                                i.xi-angle-right
                    .footer 
                            pre 
                                code.language-markup 
                                    | #{codes.align}
block module 
    script(src="/js/pagination.js")