extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#panel
            .section-title
                h1= title
                .section-desc
                    p !{cont("ELEMENTS_PANEL_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-panel
                            .panel-header
                                .title Title
                            .panel-content
                                .content-wrapper CONTENT
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        | Commodi consequuntur corporis expedita fuga, incidunt obcaecati qui,
                                        | quis, rem reprehenderit rerum sed sit. Distinctio doloremque dolorum
                                        | eius est facere pariatur voluptas!
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        | Commodi consequuntur corporis expedita fuga, incidunt obcaecati qui,
                                        | quis, rem reprehenderit rerum sed sit. Distinctio doloremque dolorum
                                        | eius est facere pariatur voluptas!
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-panel\">\n    <div class=\"panel-header\"> ... </div>\n    <div class=\"panel-contents\"> ... </div>\n</div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Collapse
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-panel.collapse
                            .panel-header
                                .title Title
                                button.panel-toggle-btn.ga-button.icon.outline
                                    i.xi-caret-up
                            .panel-content
                                .content-wrapper
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        | Commodi consequuntur corporis expedita fuga, incidunt obcaecati qui,
                                        | quis, rem reprehenderit rerum sed sit. Distinctio doloremque dolorum
                                        | eius est facere pariatur voluptas!
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        | Commodi consequuntur corporis expedita fuga, incidunt obcaecati qui,
                                        | quis, rem reprehenderit rerum sed sit. Distinctio doloremque dolorum
                                        | eius est facere pariatur voluptas!
                    .footer
                        .code-wrapper
                            - var code = `\n<div class=\"ga-panel collapse\">\n    <div class=\"panel-header\"> ... </div>\n    <div class=\"panel-contents\"> ... </div>\n</div>\n`
                            pre
                                code.language-markup= code
            .section-contents
                h4.contents-title Example
                .ga-segment.float.round-xl.attached
                    .contents-wrapper
                        .ga-panel.open
                            .panel-header
                                .title Title
                                button.panel-toggle-btn.ga-button.icon.outline
                                    i.xi-angle-up
                            .panel-content
                                .content-wrapper
                                    .content-head
                                        | Head Area
                                    .content-body
                                        - var rows = [{name: 'John Doe', age: 11, job: 'Student'},{name: 'Jane Roe', age: 17, job: 'College Student'},{name: 'Alex Kim', age: 31, job: 'Graduate Student'},]
                                        table.ga-table
                                            thead
                                                tr.align-center
                                                    th Name
                                                    th.align-right Age
                                                    th Job
                                            tbody
                                                each row in rows
                                                    tr
                                                        td= `${row.name}`
                                                        td.align-right= `${row.age}`
                                                        td= `${row.job}`
                                    .content-foot
                                        .ga-pagination.number.align-center.small
                                            - var items = [2, 3, 4, 5]
                                            .pagination-nav
                                                i.xi-angle-left
                                            .pagination-page-wrapper
                                                .pagination-num.active 1
                                                each item in items
                                                    .pagination-num=`${item}`
                                            .pagination-nav
                                                i.xi-angle-right
block module 
    script(src="/js/panel.js")