extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#tabs
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_SEGMENTS_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-segment
                            | Contents 영역 
                            | #{contents.lorem_text}        
                        .ga-segment.border
                            .contents
                                | Contents 영역   
                                p #{contents.lorem_text}           
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.base
            .section-contents
                h4.contents-title Border
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents    
                        .ga-segment.border
                            | #{contents.lorem_text}          
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.border
            .section-contents
                h4.contents-title Float
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents    
                        .ga-segment.float
                            | #{contents.lorem_text}            
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.float
            .section-contents
                h4.contents-title Surface
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents    
                        .ga-segment.surface
                            | #{contents.lorem_text}            
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.surface
            .section-contents
                h4.contents-title Align
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents 
                        .ga-segment.border.align-left
                            .contents 
                                .title Left Align
                                | Contents 영역         
                        .ga-segment.border.align-center
                            .contents
                                .title Center Align
                                | Contents 영역  
                        .ga-segment.border.align-right
                            .contents     
                                .title Right Align
                                | Contents 영역
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.align
            .section-contents
                h4.contents-title Round
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents 
                        .ga-segment.border.round-s
                            .contents
                                .title round S         
                                | Contents 영역         
                        .ga-segment.border.round-m
                            .contents
                                .title round M
                                | Contents 영역         
                        .ga-segment.border.round-l
                            .contents
                                .title round L
                                | Contents 영역         
                        .ga-segment.border.round-xl
                            .contents
                                .title round XL
                                | Contents 영역         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.round
            .section-contents
                h4.contents-title Title
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-segment.border
                            .contents
                                .title.h5 Title
                                | Contents 영역
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.title
            .section-contents
                h4.contents-title Attached (header, footer)
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-segment.border.attached 
                            .header
                                .title Header 영역
                            .contents 
                                | #{contents.lorem_text}
                            .footer.ga.flex.between 
                                | Footer 영역
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.attached
            .section-contents
                h4.contents-title Extra
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-segment.border 
                            .contents 
                                | #{contents.lorem_text}
                            .extra.ga.flex.between 
                                | Extra 영역
                                div
                                    .button.ga-button.primary View 
                                    .button.ga-button.secondary Detail 
                    .footer 
                        .code-wrapper
                            pre
                                code.language-markup= codes.extra
            .section-contents
                h4.contents-title Segments
                .ga-segment.float.round-m.attached
                    .contents-wrapper.contents
                        .ga-segments.border.round-m
                            .ga-segment.border
                                .contents
                                    .title Segment 1
                                    | Contents 영역         
                            .ga-segment.border
                                .contents
                                    .title Segment 2
                                    | Contents 영역         
                    .footer
                        .code-wrapper
                            pre
                                code.language-markup= codes.segments