extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#selectbox
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_SELECTBOX_SUB_TITLE")}
            .section-contents
                h4.contents-title Base - Dropdown
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.dropdown.open
                            .selected-item.ga-input.icon.right
                                input(type="text", placeholder="Select option", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.dropdown}
            .section-contents
                h4.contents-title base - Float
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.float
                            .selected-item.ga-input.icon.both
                                i.icon.xi-search
                                input(type="text", placeholder="Select option")
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.float}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.dropdown.compact
                            .selected-item.ga-input.icon.both
                                i.icon.xi-search
                                input(type="text", placeholder="Select option")
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.compact}
            .section-contents
                h4.contents-title use 'Select' tag
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box(style={width: '300px'})
                            select
                                each col in ['', 1, 2, 3, 4, 5, 6]
                                    if col == ''
                                        option(default, value=`${col}`)= 'Select'
                                    else
                                        option(value=`${col}`)= `option${col}`
                            i.icon.xi-angle-down
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.tag_select}
                                
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.compact(style={width: '300px'})
                            select
                                each col in ['', 1, 2, 3, 4, 5, 6]
                                    if col == ''
                                        option(default, value=`${col}`)= 'Select'
                                    else
                                        option(value=`${col}`)= `option${col}`
                            i.icon.xi-angle-down
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.tag_select_compact}
block module 
    script(src="/js/selectbox.js")
    script. 
        (function () {
            const selectBoxes = document.querySelectorAll('.ga-select-box')
            selectBoxes.forEach((sb) => {
                const selectBox = new SelectBox(sb)
                selectBox.init()
            })
        })()