extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#selectbox
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_SELECTBOX_SUB_TITLE")}
            .section-contents
                h4.contents-title Base - Dropdown
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.dropdown.open
                            .selected-item.ga-input.icon.right
                                input(type="text", placeholder="Select option", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.code_s_1_1_1}
                                | #{codes.code_s_2_1_1}
                                | #{codes.code_c_1_1_1}
                                | #{codes.code_c_2_1_1}
                                | #{codes.code_f_2_1_1}
                                | #{codes.code_s_3_1_1}
                                | #{codes.code_s_4_1_1}
                                | #{codes.code_c_3_1_1}
                                | #{codes.code_e_1_1}
                                | #{codes.code_f_4_1_1}
                                | #{codes.code_f_3_1_1}
                                | #{codes.code_f_1_1_1}
            .section-contents
                h4.contents-title 기본 - Float
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.float
                            .selected-item.ga-input.icon.both
                                i.icon.xi-search
                                input(type="text", placeholder="Select option")
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.code_s_1_2_1}
                                | #{codes.code_s_2_2_1}
                                | #{codes.code_c_1_2_1}
                                | #{codes.code_c_2_2_1}
                                | #{codes.code_f_2_2_1}
                                | #{codes.code_e_2_1}
                                | #{codes.code_f_1_2_1}
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.dropdown.compact
                            .selected-item.ga-input.icon.both
                                i.icon.xi-search
                                input(type="text", placeholder="Select option")
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.code_s_1_3_1}
                                | #{codes.code_s_2_3_1}
                                | #{codes.code_c_1_3_1}
                                | #{codes.code_c_2_3_1}
                                | #{codes.code_f_2_3_1}
                                | #{codes.code_e_3_1}
                                | #{codes.code_f_1_3_1}
            .section-contents
                h4.contents-title use 'Select' tag
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box(style={width: '300px'})
                            select
                                each col in ['', 1, 2, 3, 4, 5, 6]
                                    if col == ''
                                        option(default, value=`${col}`)= 'Select'
                                    else
                                        option(value=`${col}`)= `option${col}`
                            i.icon.xi-angle-down
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.code_s_1_4_1}
                                | #{codes.code_s_2_4_1}
                                | #{codes.code_c_1_4_1}
                                | #{codes.code_e_4_1}
                                | #{codes.code_c_2_4_1}
                                | #{codes.code_f_2_4_1}
                                | #{codes.code_c_3_4_1}
                                | #{codes.code_f_1_4_1}
                                
            .section-contents
                h4.contents-title Compact
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-select-box.compact(style={width: '300px'})
                            select
                                each col in ['', 1, 2, 3, 4, 5, 6]
                                    if col == ''
                                        option(default, value=`${col}`)= 'Select'
                                    else
                                        option(value=`${col}`)= `option${col}`
                            i.icon.xi-angle-down
                    .footer 
                        pre 
                            code.language-markup 
                                | #{codes.code_s_1_5_1}
                                | #{codes.code_s_2_5_1}
                                | #{codes.code_c_1_5_1}
                                | #{codes.code_e_5_1}
                                | #{codes.code_c_2_5_1}
                                | #{codes.code_f_2_5_1}
                                | #{codes.code_c_3_5_1}
                                | #{codes.code_f_1_5_1}
block module 
    script(src="/js/selectbox.js")
    script. 
        (function () {
            const selectBoxes = document.querySelectorAll('.ga-select-box')
            selectBoxes.forEach((sb) => {
                const selectBox = new SelectBox(sb)
                selectBox.init()
            })
        })()