extends ../layout

block title
    title #{title} Page
 
block contents
    .page-wrapper
        section#table
            .section-title
                h1= title
                .section-desc
                    p Data tables with support for rows, headers, and styling.
            - var rows = [{name: '김아무개', age: 11, job: '학생'},{name: '이아무개', age: 17, job: '대학생'},{name: '박아무개', age: 31, job: '대학원생'},]
            .section-contents
                h4.contents-title 기본
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr.align-center
                                    th 이름
                                    th.align-right 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                            tfoot
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table">`
                            - var code_h = `<thead>\n       <tr>\n          <th>column</th>\n           ...\n       </tr>\n    </thead>`
                            - var code_b = `<tbody>\n       <tr>\n          <td>column value</td>\n           ...\n       </tr>\n     </tbody>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code_s}
                                    |     #{code_h}
                                    |     #{code_b}
                                    | #{code_e}
            .section-contents
                h4.contents-title Single Rows
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table.single
                            thead
                                tr
                                    th 이름
                                    th 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table single">`
                            - var code_h = `<thead>\n       ...\n    </thead>`
                            - var code_b = `<tbody>\n       ...\n     </tbody>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code_s}
                                    |     #{code_h}
                                    |     #{code_b}
                                    | #{code_e}
            .section-contents
                h4.contents-title Table Label
                .ga-card.attached
                    .contents-wrapper
                        .table-title Table Title
                        table.ga-table.labeled
                            thead
                                tr
                                    th 이름
                                    th 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table labeled">`
                            - var code_h = `<thead>\n       ...\n    </thead>`
                            - var code_b = `<tbody>\n       ...\n     </tbody>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code_s}
                                    |     #{code_h}
                                    |     #{code_b}
                                    | #{code_e}
            .section-contents
                h4.contents-title Footer + Pagination
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr
                                    th 이름
                                    th 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                            tfoot
                                tr
                                    td(colspan="3")
                                        .ga-pagination.number.align-center.small
                                            - var items = [2, 3, 4, 5]
                                            .pagination-nav
                                                i.xi-angle-left
                                            .pagination-page-wrapper
                                                .pagination-num.active 1
                                                each item in items
                                                    .pagination-num=`${item}`
                                            .pagination-nav
                                                i.xi-angle-right
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table">`
                            - var code_h = `<thead>\n       ...\n    </thead>`
                            - var code_b = `<tbody>\n       ...\n     </tbody>`
                            - var code_f = `<tfoot>\n       <!-- <pagination /> --> \n     </tfoot>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code_s}
                                    |     #{code_h}
                                    |     #{code_b}
                                    |     #{code_f}
                                    | #{code_e}
            .section-contents
                h4.contents-title table with Form Element
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table.structured
                            tbody
                                tr
                                    td.label.align-center 입력
                                    td(colspan="3")
                                        .ga-input.transparent
                                            input(type="text", placeholder="입력하세요")
                                tr
                                    td.label.align-center 선택
                                    td(colspan="3")
                                        .ga-select-box(style={width: '300px'})
                                            select
                                                each col in ['', 1, 2, 3, 4, 5, 6]
                                                    if col == ''
                                                        option(default, value=`${col}`)= '선택'
                                                    else
                                                        option(value=`${col}`)= `option${col}`
                                            i.icon.xi-angle-down
                                tr
                                    td.label.align-center(rowspan="2") 택일
                                    td.label 택 1
                                    td(colspan="2")
                                        label.ga-switch.slide
                                            input(type="checkbox", checked)
                                            span.switch.round
                                tr
                                    td.label 택 2
                                    td(colspan="2")
                                        label.ga-switch.button
                                            input(type="checkbox", checked)
                                            span.on.active 승인
                                            span.off 미승인
                                tr
                                    td.align-center.label 실행
                                    td
                                        button.ga-button.primary 저장
                                    td.align-center.label 취소
                                    td
                                        button.ga-button.secondary.outline 취소
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table structured">`
                            - var code_b = `<tbody>\n       <tr>\n          <td>...</td>\n          <td>...</td>\n          ...\n       </tr>\n       ...\n     </tbody>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code_s}
                                    |     #{code_b}
                                    | #{code_e}
            .section-contents
                h4.contents-title tables
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr.align-center
                                    th 이름
                                    th.align-right 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                        table.ga-table
                            thead
                                tr.align-center
                                    th 이름
                                    th.align-right 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            - var code = `<table class="ga-table"> ... </table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{code}
                                    | #{code}
                                   
            .section-contents
                h4.contents-title table column count
                h5.contents-desc 지정된 갯수로 균등 전체 컬럼 균등 분할 (10 단계 퍼센트 분할)
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table.column.three
                            thead
                                tr
                                    th 이름
                                    th 나이
                                    th 직업
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                        table.ga-table.column.four
                            thead
                                tr
                                    th 이름
                                    th 나이
                                    th 직업
                                    th Lorem
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                                        td= `Lorem ipsum dolor sit amet, consectetur adipisicing elit.`
                    .footer
                        .code-wrapper
                            - var code_3 = `<table class="ga-table column three"> ... </table>`
                            - var code_4 = `<table class="ga-table column four"> ... </table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{`<!-- 등분 컬럼 구성. -->`} 
                                    | #{`<!-- two, three, four, five... ten 까지 class로 적용 가능 -->`} 
                                    | #{code_3}
                                    | #{code_4}
            .section-contents
                h4.contents-title table + grid - column width
                .ga-card.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr
                                    th 이름 (Auto)
                                    th.col-6 나이 (Column 6)
                                    th.col-1 직업 학생만 (Column 1)
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            - var code_s = `<table class="ga-table">`
                            - var code_h = `<thead>\n       <tr>\n          <th class="col-1">...</th>\n          <th class="col-6">...</th>\n          ...\n       </tr>\n       ...\n     </thead>`
                            - var code_b = `<tbody>\n       ...\n     </tbody>`
                            - var code_e = `</table>`
                            pre 
                                code.language-markup 
                                    | 
                                    | #{`<!-- 그리드 시스템 컬럼 구성. -->`} 
                                    | #{`<!-- header column에  col-{그리드 수}로 적용 가능 -->`} 
                                    |
                                    | #{code_s}
                                    |     #{code_h}
                                    |     #{code_b}
                                    | #{code_e}
