extends ../layout

block title
    title #{title} | Frog UI CSS
 
block contents
    .page-wrapper
        section#table
            .section-title
                h1= title
                .section-desc
                    p !{cont("ELEMENTS_TABLE_SUB_TITLE")}
            - var rows = [{name: 'John Doe', age: 11, job: 'Student'},{name: 'Jane Roe', age: 17, job: 'College Student'},{name: 'Alex Kim', age: 31, job: 'Graduate Student'},]
            .section-contents
                h4.contents-title Basic
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr.align-center
                                    th Name
                                    th.align-right Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                            tfoot
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_s_1_1}
                                    |     #{codes.code_h_1_1}
                                    |     #{codes.code_b_1_1}
                                    | #{codes.code_e_1_1}
            .section-contents
                h4.contents-title Single Rows
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table.single
                            thead
                                tr
                                    th Name
                                    th Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_s_2_1}
                                    |     #{codes.code_h_2_1}
                                    |     #{codes.code_b_2_1}
                                    | #{codes.code_e_2_1}
            .section-contents
                h4.contents-title Table Label
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .table-title Table Title
                        table.ga-table.labeled
                            thead
                                tr
                                    th Name
                                    th Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_s_3_1}
                                    |     #{codes.code_h_3_1}
                                    |     #{codes.code_b_3_1}
                                    | #{codes.code_e_3_1}
            .section-contents
                h4.contents-title Footer + Pagination
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr
                                    th Name
                                    th Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                            tfoot
                                tr
                                    td(colspan="3")
                                        .ga-pagination.number.align-center.small
                                            - var items = [2, 3, 4, 5]
                                            .pagination-nav
                                                i.xi-angle-left
                                            .pagination-page-wrapper
                                                .pagination-num.active 1
                                                each item in items
                                                    .pagination-num=`${item}`
                                            .pagination-nav
                                                i.xi-angle-right
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_s_4_1}
                                    |     #{codes.code_h_4_1}
                                    |     #{codes.code_b_4_1}
                                    |     #{codes.code_f_4_1}
                                    | #{codes.code_e_4_1}
            .section-contents
                h4.contents-title Table with Form Element
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table.structured
                            tbody
                                tr
                                    td.label.align-center Input
                                    td(colspan="3")
                                        .ga-input.transparent
                                            input(type="text", placeholder="Enter text")
                                tr
                                    td.label.align-center Select
                                    td(colspan="3")
                                        .ga-select-box(style={width: '300px'})
                                            select
                                                each col in ['', 1, 2, 3, 4, 5, 6]
                                                    if col == ''
                                                        option(default, value=`${col}`)= 'Select'
                                                    else
                                                        option(value=`${col}`)= `option${col}`
                                            i.icon.xi-angle-down
                                tr
                                    td.label.align-center(rowspan="2") Choice
                                    td.label Choice 1
                                    td(colspan="2")
                                        label.ga-switch.slide
                                            input(type="checkbox", checked)
                                            span.switch.round
                                tr
                                    td.label Choice 2
                                    td(colspan="2")
                                        label.ga-switch.button
                                            input(type="checkbox", checked)
                                            span.on.active Approve
                                            span.off Decline
                                tr
                                    td.align-center.label Execute
                                    td
                                        button.ga-button.primary Save
                                    td.align-center.label Cancel
                                    td
                                        button.ga-button.secondary.outline Cancel
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_s_5_1}
                                    |     #{codes.code_b_5_1}
                                    | #{codes.code_e_5_1}
            .section-contents
                h4.contents-title tables
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr.align-center
                                    th Name
                                    th.align-right Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                        table.ga-table
                            thead
                                tr.align-center
                                    th Name
                                    th.align-right Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td.align-right= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{codes.code_6_1}
                                    | #{codes.code_6_1}
                                   
            .section-contents
                h4.contents-title table column count
                h5.contents-desc Evenly divide columns by the specified count (10-step percentage split)
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table.column.three
                            thead
                                tr
                                    th Name
                                    th Age
                                    th Job
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                        table.ga-table.column.four
                            thead
                                tr
                                    th Name
                                    th Age
                                    th Job
                                    th Lorem
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                                        td= `Lorem ipsum dolor sit amet, consectetur adipisicing elit.`
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{`<!-- Evenly divided column layout. -->`} 
                                    | #{`<!-- two, three, four, five... up to ten can be applied via class -->`} 
                                    | #{codes.code_3_7_1}
                                    | #{codes.code_4_7_1}
            .section-contents
                h4.contents-title table + grid - column width
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        table.ga-table
                            thead
                                tr
                                    th Name (Auto)
                                    th.col-6 Age (Column 6)
                                    th.col-1 Job (Students only) (Column 1)
                            tbody
                                each row in rows
                                    tr
                                        td= `${row.name}`
                                        td= `${row.age}`
                                        td= `${row.job}`
                    .footer
                        .code-wrapper
                            pre 
                                code.language-markup 
                                    | 
                                    | #{`<!-- Grid system column composition. -->`} 
                                    | #{`<!-- Apply col-{grid count} on header columns -->`} 
                                    |
                                    | #{codes.code_s_8_1}
                                    |     #{codes.code_h_8_1}
                                    |     #{codes.code_b_8_1}
                                    | #{codes.code_e_8_1}
