extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#tabs
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_TABS_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tabs
                            .tab-menu
                                .tab-item.tab.active Item 1
                                .tab-item.tab Item 2
                                .tab-item.tab Item 3
                                .tab-item.tab Item 4
                                .tab-item.tab Item 5
                    .footer
                        pre 
                            code.language-markup 
                                | #{codes.code_1_s_1_1}
                                | #{codes.code_2_s_1_1}
                                | #{codes.code_c_1_1_1}
                                | #{codes.code_c_2_1_1}
                                | #{codes.code_e_1_1}
                                | #{codes.code_c_3_1_1}
                                | #{codes.code_2_f_1_1}
                                | #{codes.code_1_f_1_1}
            .section-contents
                h4.contents-title Vertical
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tabs.vertical
                            .tab-menu
                                .tab-item.tab.active Item 1
                                .tab-item.tab Item 2
                                .tab-item.tab Item 3
                    .footer
                        pre 
                            code.language-markup 
                                | #{codes.code_1_s_2_1}
                                | #{codes.code_2_s_2_1}
                                | #{codes.code_c_1_2_1}
                                | #{codes.code_c_2_2_1}
                                | #{codes.code_e_2_1}
                                | #{codes.code_c_3_2_1}
                                | #{codes.code_2_f_2_1}
                                | #{codes.code_1_f_2_1}
            .section-contents
                h4.contents-title Active (Line)
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tabs.line
                            .tab-menu
                                .tab-item.tab.active Item 1
                                .tab-item.tab Item 2
                                .tab-item.tab Item 3
                                .tab-item.tab Item 4
                                .tab-item.tab Item 5
                    .contents-wrapper
                        .ga-tabs.line.vertical
                            .tab-menu
                                .tab-item.tab.active Item 1
                                .tab-item.tab Item 2
                                .tab-item.tab Item 3
                    .footer
                        pre 
                            code.language-markup 
                                | #{codes.code_1_s_3_1}
                                | #{codes.code_2_s_3_1}
                                | #{codes.code_c_1_3_1}
                                | #{codes.code_c_2_3_1}
                                | #{codes.code_e_3_1}
                                | #{codes.code_c_3_3_1}
                                | #{codes.code_2_f_3_1}
                                | #{codes.code_1_f_3_1}
            .section-contents
                h4.contents-title Active (Button)
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tabs.button
                            .tab-menu
                                .tab-item.tab.active Item 1
                                .tab-item.tab Item 2
                                .tab-item.tab Item 3
                                .tab-item.tab Item 4
                                .tab-item.tab Item 5
                            .tab-contents
                                | tab contents
                    .footer
                        pre 
                            code.language-markup 
                                | #{codes.code_1_s_4_1}
                                | #{codes.code_2_s_4_1}
                                | #{codes.code_c_1_4_1}
                                | #{codes.code_c_2_4_1}
                                | #{codes.code_e_4_1}
                                | #{codes.code_c_3_4_1}
                                | #{codes.code_2_f_4_1}
                                | #{codes.code_1_f_4_1}
            .section-contents
                h4.contents-title Browser Tab
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tabs.browser
                            - var tabMenu = [1, 2, 3, 4, 5]
                            .tab-menu
                                each tab in tabMenu
                                    .tab-item.tab
                                        span.tabText.ellipsis=`Item ${tab}`
                                        .btn-close.ga-button.icon.tiny.round
                                            i.xi-close
                            .tab-contents
                                .tab-plus.ga-button.icon.primary ADD
                                    i.icon.right.xi-plus
                    .footer
                        pre 
                            code.language-markup 
                                | #{codes.code_1_s_5_1}
                                | #{codes.code_2_s_5_1}
                                | #{codes.code_c_1_5_1}
                                | #{codes.code_c_2_5_1}
                                | #{codes.code_e_5_1}
                                | #{codes.code_c_3_5_1}
                                | #{codes.code_2_f_5_1}
                                | #{codes.code_1_f_5_1}
block module 
    script(src="/js/tabs.js")
