extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#tag
            .section-title
                h1= title
                .section-desc 
                    p !{cont("ELEMENTS_TAG_SUB_TITLE")} 
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label Standard
                        .ga-tag.label Label
                            //- .detail prefix
                        .ga-tag.label.icon
                            i.xi-user
                        .ga-tag.label.icon
                            i.xi-star
                        .ga-tag.label.icon
                            i.xi-crown
                    .contents-wrapper
                        .ga-tag.label.red.prefix(data-prefix="prefix") Tag
                        .ga-tag.label.blue.suffix(data-suffix="suffix") Tag
                    .contents-wrapper
                        .ga-tag.line
                        .ga-tag.line.red
                        .ga-tag.line.blue
                        .ga-tag.line.green
                    .contents-wrapper
                        .ga-tag.dot
                        .ga-tag.dot.red
                        .ga-tag.dot.blue
                        .ga-tag.dot.green
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- Label Type -->`}
                                    | #{codes.code_1_1}
                                    | #{`<!-- Line Type -->`}
                                    | #{codes.code1_1_1}
                                    | #{`<!-- Dot Type -->`}
                                    | #{codes.code2_1_1}
            .section-contents
                h4.contents-title icon (only label type)
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label
                            i.icon.left.xi-angle-left
                            | Left
                        .ga-tag.label
                            | Right
                            i.icon.right.xi-angle-right
                        .ga-tag.label.primary
                            i.icon.left.xi-user
                            | Users
                        .ga-tag.label.secondary
                            i.icon.left.xi-marker
                            | Update
                        .ga-tag.label.red
                            i.icon.left.xi-park
                            | New
                        .ga-tag.label.green
                            i.icon.left.xi-mobile
                            | Sale
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- Left -->`}
                                    | #{codes.code_2_1}
                                    | #{`<!-- Right -->`}
                                    | #{codes.code1_2_1}
            .section-contents
                h4.contents-title Pointing
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label.primary.pointing.left
                            i.icon.left.xi-arrow-left
                            | Left
                        .ga-tag.label.primary.pointing.right
                            | Right
                            i.icon.right.xi-arrow-right
                        .ga-tag.label.primary.pointing.up
                            i.icon.left.xi-arrow-up
                            | Up
                        .ga-tag.label.primary.pointing.down
                            | Down
                            i.icon.right.xi-arrow-down
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- Left -->`}
                                    | #{codes.code_3_1}
                                    | #{`<!-- Right -->`}
                                    | #{codes.code1_3_1}
                                    | #{`<!-- Up -->`}
                                    | #{codes.code2_3_1}
                                    | #{`<!-- Down -->`}
                                    | #{codes.code3_3_1}
            .section-contents
                h4.contents-title Prefix, Suffix
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label.red.prefix(data-prefix="prefix") Tag
                        .ga-tag.label.blue.suffix(data-suffix="suffix") Tag
                        .ga-tag.label.green.prefix.suffix(data-prefix="pre", data-suffix="suf") Tag
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- with prefix -->`}
                                    | #{codes.code_4_1}
                                    | #{`<!-- with suffix -->`}
                                    | #{codes.code1_4_1}
            .section-contents
                h4.contents-title kbd
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.kbd.enter
                            | Enter
                        .ga-tag.kbd.space
                            | Space
                        .ga-tags
                            .ga-tag.kbd.meta.cmd
                                | Command
                            .ga-tag.kbd
                                | S
                        kbd.ga-tag.kbd.shortcut.cmd
                            | K
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- kbd (Key Enter) -->`}
                                    | #{codes.code_5_1}
                                    | #{`<!-- kbd (Key Space) -->`}
                                    | #{codes.code1_5_1}
                                    | #{`<!-- kbd (Key Command - Meta) -->`}
                                    | #{codes.code2_5_1}
                                    | #{`<!-- kbd (Key S) -->`}
                                    | #{codes.code3_5_1}
            .section-contents
                h4.contents-title Tags
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tags
                            .ga-tag.label.red red
                            .ga-tag.label.orange orange
                            .ga-tag.label.yellow yellow
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_6_1}
            .section-contents
                h4.contents-title Attached tags
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tags.attached
                            .ga-tag.label.primary.pointing.right attached
                            .ga-tag.label.secondary tags 
                        .ga-tags.attached
                            .ga-tag.label.deeppurple purple
                            .ga-tag.label.orange orange
                        .ga-tags.attached
                            .ga-tag.label.blue.light tag
                            .ga-tag.label.blue tag
                            .ga-tag.label.blue.light tag
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_7_1}
            .section-contents
                h4.contents-title Hover Effect
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tags.one-of-a-kind
                            .ga-tag.label.blue blue
                            .ga-tag.label.deepblue deep blue
                            .ga-tag.label.deeppurple deep purple
                            .ga-tag.label.purple purple
                    .footer
                            pre
                                code.language-markup
                                    | #{codes.code_8_1}
            .section-contents
                h4.contents-title Brand & Status Colors
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label.primary Primary
                        .ga-tag.label.secondary Secondary
                        span |
                        .ga-tag.label.ga-success Success
                        .ga-tag.label.ga-info Info
                        .ga-tag.label.ga-danger Danger
                        .ga-tag.label.ga-attention Attention
                        .ga-tag.label.ga-importance Importance
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- primary, secondary, success, danger, info, attention, importance -->`}
                                    | #{codes.code_9_1}
            .section-contents
                h4.contents-title Colors
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tag.label.red Red
                        .ga-tag.label.orange Orange
                        .ga-tag.label.yellow Yellow
                        .ga-tag.label.lightgreen Light Green
                        .ga-tag.label.lightblue Light Blue
                        .ga-tag.label.blue Blue
                        .ga-tag.label.deepblue Deep Blue
                        .ga-tag.label.deeppurple Deep Purple
                        .ga-tag.label.purple Purple
                        .ga-tag.label.brown Brown
                        .ga-tag.label.gray Gray
                    .contents-wrapper
                        .ga-tag.label.red.light Red
                        .ga-tag.label.orange.light Orange
                        .ga-tag.label.yellow.light Yellow
                        .ga-tag.label.lightgreen.light Light Green
                        .ga-tag.label.lightblue.light Light Blue
                        .ga-tag.label.blue.light Blue
                        .ga-tag.label.deepblue.light Deep Blue
                        .ga-tag.label.deeppurple.light Deep Purple
                        .ga-tag.label.purple.light Purple
                        .ga-tag.label.brown.light Brown
                        .ga-tag.label.gray.light Gray
                    .footer
                            pre
                                code.language-markup
                                    | #{`<!-- red, orange, yellow, light-green, light-blue, blue, deep-blue, deep-purple, purple, brown, gray -->`}
                                    | #{codes.code_10_1}
                                    | #{codes.code1_10_1}