extends layout

block title
    title Design System #{title}

block contents
    .main-banner.page-wrapper
        .container.center
            p 
            .title 
                | FROG UI 
            .sub-title
                |!{cont("SUB_TITLE")}
            .main-link
                .ga-button 
                    | What is Frog?
                    a.link(href="/pages/welcome") 
                .ga-button 
                    | Components
                    i.icon.right.xi-arrow-right
                    a.link(href="/pages/typography") 
    // .page-wrapper#semantic.surface1
        .container.center
            .page-header
                .page-title.hero Semantic CSS
                .hero.sub Intuitive Semantic CSS Created by Natural Language-Based Classes
    .page-wrapper
        section 
            .page-header 
                .page-title !{cont("MAIN_SECTION_TOKEN_TITLE")}
                .page-desc !{cont("MAIN_SECTION_TOKEN_DESC")}
    .page-wrapper#custom-theme
        section
            .ga-grid
                .column.span-6.span-xs-12 
                    .user-custom-theme.page-header
                        .page-icon
                            i.xi-border-color
                        .page-title !{cont("MAIN_SECTION_STYLE_TITLE")}
                        .page-desc
                            p !{cont("MAIN_SECTION_STYLE_DESC")}
                .column.span-6.span-xs-12.cell
                    .select-css
                        .ga-select-box.dropdown#css-selector
                                .selected-item.ga-input.icon.right
                                    input(type="text", readonly, value="Frog UI")
                                    i.icon.xi-angle-down
                                .select-menu
                                    .ga-list.selection
                                        .item.option-item(data-path="/frogui.css") Frog UI
                                        .item.option-item(data-path="/gcloud.css") G Cloud UI
                    hr
                    .preview-theme 
                        .ga-button Button
                        .ga-button.primary
                            i.icon.left.xi-user 
                            | Primary
                        .ga-button.secondary
                            i.icon.left.xi-file
                            | Secondary
                        .ga-button.red
                            | Color:Red
                        .ga-input.labeled.left.inline
                                input(type="text", placeholder="입력하세요", value="Rate", disabled)
                                label 
                                    i.icon.xi-star
                        .ga-buttons 
                            .ga-button.selected A
                            .ga-button B
                            .ga-button C
    .page-wrapper
        section
            .page-header 
                .page-title !{cont("MAIN_SECTION_THEME_TITLE")}
                .page-desc !{cont("MAIN_SECTION_THEME_DESC")}
            .page-contents
                .buttons
                    .ga-button.change-mode
                        i.icon.left.xi-sun-o
                        | Light Mode
    .page-wrapper
        section 
            .page-header 
                .page-title !{cont("MAIN_SECTION_CSS_TITLE")}
                .page-desc !{cont("MAIN_SECTION_CSS_DESC")}
            .page-contents
                .buttons
                    .ga-button
                        i.icon.left.xi-link
                        | BE-UI-REACT
                        img(src="/img/react.svg", alt="react", style="width: 1rem; margin-left: 10px")
                        a.link(href="https://react-be-ui.vercel.app/", target="_blank") 
                    .ga-button
                        i.icon.left.xi-link
                        |  BE-UI-VUE
                        img(src="/img/vue.svg", alt="vue", style="width: 1rem; margin-left: 10px")
                        a.link(href="https://beui.vercel.app/", target="_blank")  
                //.ga-cards.column-2
                    .ga-card.border 
                        .contents 
                            img(src="/img/react.svg", alt="react")
                            | React + Frog
                    .ga-card.border 
                        .contents 
                            img(src="/img/vue.svg", alt="vue")
                            | Vue + Frog
    .page-wrapper.summary#grids2
        section
            .page-header.ui-elements
                .page-title !{cont("MAIN_SECTION_ELEMENT_TITLE")}
                //- .page-desc Definitions aren't limited to just buttons on a page. Semantic's components allow several distinct types of definitions: elements, collections, views, modules and behaviors which cover the gamut of interface design.
            .ga-grid2.dosirak.round-l(style="--grid-row-num: 6; --grid-gap: 20")
                .column.col-6.row-4.col-xs-12
                    h5.title Typography
                    .ga-grid
                        .column.span-6.mainWord.hero.large ABC
                        .column.span-6.mainWord.hero.large 가나다
                        .column.span-6.subWord
                            p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                            p abcdefghijklmnopqrstuvwxyz
                            p 1234567890 ,./(){}[]\|:;"'?
                            p 가나다라마바사
                .column.col-6.row-4.col-xs-12
                    h5.title Heading
                    h1.header [H1] Frog UI System
                    h2.header [H2] Frog UI System
                    h3.header [H3] Frog UI System
                    h4.header [H4] Frog UI System
                    h5.header [H5] Frog UI System
                .column.col-6.row-4.col-xs-12
                    h5.title Letter Spacing
                    .ga-grid 
                        .column.span-3
                            .ga-tag.label Wider
                        .column.span-9.spacing-wider 
                            | Frog UI System 
                        .column.span-3
                            .ga-tag.label Wide
                        .column.span-9.spacing-wide 
                            | Frog UI System 
                        .column.span-3
                            .ga-tag.label Normal
                        .column.span-9
                            | Frog UI System 
                        .column.span-3
                            .ga-tag.label Narrow
                        .column.span-9.spacing-narrow 
                            | Frog UI System 
                        .column.span-3                        
                            .ga-tag.label Narrower
                        .column.span-9.spacing-narrower
                            | Frog UI System 
                .column.col-6.row-2.col-xs-12
                    h5.title Font Weight
                    .ga-grid
                        .column.span-3 
                            .ga-tag.label Light
                        .column.span-9.light Frog UI System
                        .column.span-3
                            .ga-tag.label Regular
                        .column.span-9 Frog UI System
                        .column.span-3 
                            .ga-tag.label Bold
                        .column.span-9.bold Frog UI System
                        .column.span-3 
                            .ga-tag.label Bolder
                        .column.span-9.bolder Frog UI System
    .page-wrapper.summary#colors
        section
            h5.header Colors
            .ga-grid
                .column.span-xs-4
                    .color-item
                        .chip.primary
                        .name primary
                .column.span-xs-4
                    .color-item
                        .chip.secondary
                        .name secondary
                .column.span-xs-4
                    .color-item
                        .chip.ga-success
                        .name success
                .column.span-xs-4
                    .color-item
                        .chip.ga-danger
                        .name danger
                .column.span-xs-4
                    .color-item
                        .chip.ga-attention
                        .name attention
                .column.span-xs-4
                    .color-item
                        .chip.ga-importance
                        .name importance
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-0
                        .name white
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-100
                        .name black
            h5.header Grayscale
            .ga-grid
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-5
                        .name gray-5
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-10
                        .name gray-10
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-15
                        .name gray-15
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-20
                        .name gray-20
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-30
                        .name gray-30
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-40
                        .name gray-40
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-50
                        .name gray-50
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-60
                        .name gray-60
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-70
                        .name gray-70
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-80
                        .name gray-80 
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-90
                        .name gray-90 
                .column.span-xs-4
                    .color-item
                        .chip.gray-bg-95
                        .name gray-95
    .page-wrapper.summary#grids
        section
            h5.header Grid System
            .ga-grid
                each col in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    .column
                        .gray-item.gray-15
    .page-wrapper.summary#grids2
        section
            .ga-grid2.dosirak.round-l(style="--grid-row-num: 6; --grid-gap: 20")
                .column.col-6.col-xs-12
                    h5.title Button
                    .field
                        button.ga-button.primary Primary
                        button.ga-button.secondary Secondary
                    .field
                        button.ga-button.success Success
                        button.ga-button.info Info
                        button.ga-button.danger Danger
                        button.ga-button.attention Attention
                        button.ga-button.importance Importance
                .column.col-6.col-xs-12
                    h5.title Input
                    .field
                        .ga-input
                            input(type="text", placeholder="Insert text") 
                    .field
                        .ga-input.disabled
                            input(type="text", placeholder="Insert text") 
                
                .column.col-6.col-xs-12
                    h5.title Select box
                    .field
                        .ga-select-box.dropdown
                            .selected-item.ga-input.icon.right.fluid
                                input(type="text", placeholder="Select option", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item(style="padding: 10px")
                                            = `option${col}`
                    .field
                        .ga-select-box.float
                            .selected-item.ga-input.icon.right
                                input(type="text", placeholder="Select option", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item(style="padding: 10px")
                                            = `option${col}`
                .column.col-6.col-xs-12
                    h5.title List
                    .ga-list.selection.border
                        .item(style="padding: 10px").selected Item 1
                        .item(style="padding: 10px") Item 2
                        .item(style="padding: 10px") Item 3
                .column.col-6.col-xs-12
                    h5.title Tag
                    .ga-tag.label Tag
                    .ga-tag.label.primary Primary
                    .ga-tag.label.secondary Secomdary
                    .ga-tag.label.red Red
                    .ga-tag.label.deepblue blue
                    .ga-tag.label.yellow Yellow
                .column.col-6.col-xs-12
                    h5.title Tag - Pointing
                    .ga-tag.pointing.up UP
                    .ga-tag.pointing.down Down
                    .ga-tag.pointing.left Left
                    .ga-tag.pointing.right Right
                .column.col-6.col-xs-12
                    h5.title Tag - kbd
                    .ga-tag.kbd.space Space
                    .ga-tag.kbd.enter Enter
                    .ga-tag.kbd.meta.cmd Commend
                    .ga-tag.kbd ESC
                .column.col-6.col-xs-12
                    h5.title Bedge
                    .ga-button
                        | Badge
                        span.ga-badge.float 0
                    .ga-button
                        | Badge 1
                        span.ga-badge.float.primary 1
                    .ga-button
                        | Badge New
                        span.ga-badge.float.red N
                    .ga-button
                        | Badge In
                        span.ga-badge.mark.primary
                .column.col-6.col-xs-12
                    h5.title Switch
                    .field
                        label.ga-switch.slide
                            input(type="checkbox" checked)
                            span.switch
                        label.ga-switch.slide
                            input(type="checkbox" checked)
                            span.switch.round
                        label.ga-switch.slide.inside
                            input(type="checkbox" checked)
                            span.switch.round
                        label.ga-switch.button
                            input(type="checkbox" checked)
                            span.on.round A
                            span.off.round B
                .column.col-6.col-xs-12
                    h5.title Checkbox
                    .field
                        .ga-checkbox
                            input(id="ch1" type="checkbox")
                            label(for="ch1") Checkbox 1
                        .ga-checkbox
                            input(id="ch2" type="checkbox" checked="true")
                            label(for="ch2") Checkbox 2
                        .ga-checkbox.radio
                            input(id="ch3" type="checkbox")
                            label(for="ch3") radio
    .page-wrapper 
        section 
            .page-header 
                .page-title !{cont("MAIN_SECTION_CONTACT_TITLE")}
                .page-desc !{cont("MAIN_SECTION_CONTACT_DESC")}
            include comments
    script(src="/js/selectbox.js")
