doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include seo_meta
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        block title
        link(rel="preconnect", href="https://cdn.jsdelivr.net", crossorigin="anonymous")
        link(rel="preload",
            as="style",
            crossorigin,
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.css")
        link(rel="stylesheet",
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.css")
        script(src="/prism/prism.js")
        link(href="/prism/prism.css", rel="stylesheet")
        link(id="frogui-css", href="/frogui.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
        script(async, src="https://plausible.io/js/pa-PNF1ZKkVWIqCuHg5qB1bO.js")
        script.
            window.plausible = window.plausible || function() { (plausible.q = plausible.q || []).push(arguments) };
            plausible.init = plausible.init || function(i) { plausible.o = i || {} };
            
            // Plausible 스크립트가 로드된 후 초기화
            document.addEventListener('DOMContentLoaded', function() {
                if (typeof plausible !== 'undefined') {
                    plausible.init();
                }
            });
    body
        .root
            header.gnb
                nav.main-menu
                    .toggle-menu
                        .ga-button.icon.circle.show-menu
                            i.xi-bars
                .logo 
                    a(href="/")
                        span FROG UI
                    //- div.sub-logo Fix, Refactor, Optimize, Grow!!
                    //- div.sub-logo Frontend Renders On Grid...
                    //- div.sub-logo For Real, Only Good!!
                nav.sub-menu.small
                    //- .home
                    //-     .ga-button.text Home
                    //-         a.link(href="/")
                    //- .components
                    //-     .ga-button.text Components
                    //-         a.link(href="/pages/base")
                    .link-btn
                        .ga-button.circle.badge.compact
                            | Be-UI 
                            .in-badge.ga-deepblue React
                            a.link(href="https://react-be-ui.vercel.app/", target="_blank")
                        .ga-button.circle.badge.compact
                            | Be-UI 
                            .in-badge.ga-green vue
                            a.link(href="https://beui.vercel.app/", target="_blank") 
                    .divide
                        .ga-button.text |
                    .mode
                        .ga-button.icon.circle.toggle-mode
                            i.xi-sun-o
                    .github
                        a.ga-button.icon.circle.toggle-mode(href="https://github.com/noistommy/frog-ui-css")
                            i.xi-github
            if !error && title === 'Frog UI'
                .main-container.main
                    .right-part
                        block contents
            else     
                .main-container.main.container.center
                    .left-part
                        .side-menu
                            include lnb
                    .right-part
                        block contents
        block module
        block js-module
        
        script(src="/js/base.js")
        script(src="/js/css-switcher.js")
        script.
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        script(defer, src="/_vercel/insights/script.js")
       
