- var path = '/'
- var selected = title?.toLowerCase()
- var welcomeItems = ['welcome', 'FAQs', 'principle', 'semantic', 'tokens', 'components']
- var baseItems = ['theme', 'typography', 'colors']
- var elementItems = ['badge', 'button', 'calendar', 'cards', 'checkbox', 'input', 'list', 'message', 'pagination', 'panel', 'segments', 'selectbox', 'switch', 'table', 'tabs', 'tag']
- var layoutItems = ['form', 'grid', 'grid2']
- var moduleItems = ['modal', 'toast']
- var menuItems = ['base', 'colors', 'button', 'input', 'tag', 'checkbox', 'switch', 'badge', 'form', 'list', 'selectbox', 'message', 'tabs', 'cards', 'segments', 'table', 'pagination', 'panel', 'grid', 'grid2', 'calendar', 'modal', 'toast']

.ui-list
    .menu-header 
        //- a(href=`${path}`).bold Frog UI
    .menu-contents.ga-list-group
        .ga.hr(data-text="Frog")
        //- .group-title Frog
        .ga-list.selection.mark.text
            each item in welcomeItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                        span=item
        .ga.hr(data-text="Base")
        //- .group-title Bases
        .ga-list.selection.mark.text
            each item in baseItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                        span=item
        .ga.hr(data-text="Elements")
        //- .group-title Elements
        .ga-list.selection.mark.text
            each item in elementItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                        span=item
        .ga.hr(data-text="Layouts")
        //- .group-title Layouts
        .ga-list.selection.mark.text
            each item in layoutItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                        span=item
        .ga.hr(data-text="Modules")
        //- .group-title Modules
        .ga-list.selection.mark.text
            each item in moduleItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                        span=item
        script. 
            var elementItems = ['button', 'input', 'tag', 'checkbox', 'switch', 'badge', 'list', 'selectbox', 'message', 'tabs', 'cards', 'segments', 'table', 'pagination', 'panel', 'calendar']
        //.group-title Base
        //.ga-list.selection
            each item in menuItems
                li.nav-item.item(class=`${selected === item ? 'selected' : ''}`)
                    a(href=`${path}pages/${item}`)
                    span=item
